/* beautify ignore:start */
/* ===============   FONTS   ============== */
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
	font-weight: normal;
	font-style: 400;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI/SegoeUI-Light.eot');
	src: local('Segoe UI Light'), local('SegoeUI-Light'),
		url('../fonts/SegoeUI/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI/SegoeUI-Light.woff') format('woff'),
		url('../fonts/SegoeUI/SegoeUI-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI/SegoeUI-BoldItalic.eot');
	src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
		url('../fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI/SegoeUI-BoldItalic.woff') format('woff'),
		url('../fonts/SegoeUI/SegoeUI-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI/SegoeUI-SemiBold.eot');
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
		url('../fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('../fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI/SegoeUI-Bold.eot');
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
		url('../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI/SegoeUI-Bold.woff') format('woff'),
		url('../fonts/SegoeUI/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI/SegoeUI-Italic.eot');
	src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
		url('../fonts/SegoeUI/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI/SegoeUI-Italic.woff') format('woff'),
		url('../fonts/SegoeUI/SegoeUI-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

button,
hr,
input {
  overflow: visible;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
progress,
sub,
sup {
  vertical-align: baseline;
}
[type=checkbox],
[type=radio],
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
/* beautify ignore:end */
/* ===============   Variables   ============== */
/* ===============   Fonts   ============== */
/* ===============   Colors   ============== */
/* ===============   Sizes   ============== */
/* ===============   Animations   ============== */
@-webkit-keyframes moveToLeft {
  from {
    margin-right: 100vw;
    opacity: 0;
  }
  to {
    margin-right: 0px;
    opacity: 1;
  }
}
@keyframes moveToLeft {
  from {
    margin-right: 100vw;
    opacity: 0;
  }
  to {
    margin-right: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes moveToRight {
  from {
    margin-left: 100vw;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}
@keyframes moveToRight {
  from {
    margin-left: 100vw;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 200px, 0);
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 200px, 0);
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
/* ===============   Most used selectors   ============== */
* {
  font-family: "Segoe UI", sans-serif;
}
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}
.to-left {
  -webkit-animation: moveToLeft 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: moveToLeft 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  opacity: 0;
}
.animate-left {
  margin-right: 100vw;
  opacity: 0;
}
.to-right {
  -webkit-animation: moveToRight 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: moveToRight 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  opacity: 0;
}
.animate-right {
  margin-left: 100vw;
  opacity: 0;
}
.f-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.btn {
  padding: 22px 45px;
  -webkit-box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background: #fff;
  border: none;
  outline: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
}
.btn:hover {
  -webkit-box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.15);
}
li {
  list-style: none;
  color: #f00;
}
body {
  background: #F7F8F9;
  overflow-x: hidden;
}
@-webkit-keyframes moved {
  0% {
    -webkit-transform: rotate(90deg) translateY(0);
            transform: rotate(90deg) translateY(0);
  }
  50% {
    -webkit-transform: rotate(90deg) translateY(30px);
            transform: rotate(90deg) translateY(30px);
  }
  100% {
    -webkit-transform: rotate(90deg) translateY(0);
            transform: rotate(90deg) translateY(0);
  }
}
@keyframes moved {
  0% {
    -webkit-transform: rotate(90deg) translateY(0);
            transform: rotate(90deg) translateY(0);
  }
  50% {
    -webkit-transform: rotate(90deg) translateY(30px);
            transform: rotate(90deg) translateY(30px);
  }
  100% {
    -webkit-transform: rotate(90deg) translateY(0);
            transform: rotate(90deg) translateY(0);
  }
}
.animate-to-left-slowly {
  -webkit-transition: -webkit-transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 35s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.to-left-slowly {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.animate-to-right-slowly {
  -webkit-transition: -webkit-transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 35s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.to-right-slowly {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.other-page header:not(.scrolled) .logo .cls-1 {
  fill: #fff;
}
.other-page header:not(.scrolled) .right ul li a {
  color: #fff;
}
.other-page header:not(.scrolled) .right ul li.contact a {
  background: rgba(247, 248, 249, 0);
}
.other-page header:not(.scrolled) .right ul li.contact a:hover {
  background: #FF4343;
}
.other-page header:not(.scrolled) .right .sandwitch-btn i {
  background: #fff;
}
header {
  padding-top: 36px;
  padding-bottom: 36px;
  position: fixed;
  width: 100%;
  z-index: 20;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header.scrolled {
  background: #F7F8F9;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .logo {
  position: relative;
  z-index: 3;
}
header .logo .cls-1 {
  fill: #1e1e1e;
}
header .right ul {
  margin: 0;
  padding: 0;
}
header .right ul li {
  padding-left: 23px;
  padding-right: 23px;
}
header .right ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #848484;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
  text-transform: uppercase;
}
header .right ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 3px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  width: 0;
  background: #FF4343;
}
header .right ul li.contact a {
  padding: 15px 51px;
  border: 2px solid #FF4343;
  font-weight: 900;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  color: #1E1E1E;
  display: inline-block;
  background: #F7F8F9;
}
header .right ul li.contact a:after {
  content: none;
}
header .right ul li.contact a:hover {
  background: #FF4343;
  color: #F7F8F9;
}
header .right ul li a:hover,
header .right ul li.active a {
  color: #1E1E1E;
}
header .right ul li a:hover:after,
header .right ul li.active a:after {
  width: 100%;
}
header .right .sandwitch-btn {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
}
header .right .sandwitch-btn i {
  height: 3px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #1e1e1e;
  display: block;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .right .sandwitch-btn i:first-child {
  margin-top: -10px;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
}
header .right .sandwitch-btn i:last-child {
  margin-top: 10px;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}
.section-home .left-block {
  padding-top: 250px;
  padding-bottom: 100px;
}
.section-home .left-block h1 {
  font-size: 61px;
  line-height: 79px;
  font-family: "Ubuntu", sans-serif;
  color: #1E1E1E;
  max-width: 550px;
  font-weight: bold;
  margin: 0;
}
.section-home .left-block p {
  font-size: 21px;
  letter-spacing: .3px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 60px;
  margin-top: 15px;
}
.section-home .left-block .btn {
  background: #FF4343;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .7px;
  font-size: 18px;
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 55px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.section-home .left-block .btn:hover {
  background: #DB3A3A;
}
.section-home .left-block .btn-scroll {
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg) translateX(-100%);
      -ms-transform: rotate(-90deg) translateX(-100%);
          transform: rotate(-90deg) translateX(-100%);
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
}
.section-home .left-block .btn-scroll:hover img {
  -webkit-animation: moved .5s infinite;
          animation: moved .5s infinite;
}
.section-home .left-block .btn-scroll img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}
.section-home .right-block {
  position: relative;
  z-index: 4;
}
.section-home .right-block .with-phones {
  position: absolute;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(24deg) translate(0, -270px);
      -ms-transform: rotate(24deg) translate(0, -270px);
          transform: rotate(24deg) translate(0, -270px);
  left: 0;
  bottom: 200px;
  height: 100%;
  width: 1025px;
}
.section-home .right-block .with-phones.show .item {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
}
.section-home .right-block .with-phones.show.full-visible .item {
  -webkit-transition: -webkit-box-shadow 2s, -webkit-transform 2s;
  transition: -webkit-box-shadow 2s, -webkit-transform 2s;
  -o-transition: box-shadow 2s, transform 2s;
  transition: box-shadow 2s, transform 2s;
  transition: box-shadow 2s, transform 2s, -webkit-box-shadow 2s, -webkit-transform 2s;
  -webkit-box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.section-home .right-block .with-phones.show.full-visible .item:hover {
  -webkit-box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 2s, -webkit-transform 2s;
  transition: -webkit-box-shadow 2s, -webkit-transform 2s;
  -o-transition: box-shadow 2s, transform 2s;
  transition: box-shadow 2s, transform 2s;
  transition: box-shadow 2s, transform 2s, -webkit-box-shadow 2s, -webkit-transform 2s;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
.section-home .right-block .with-phones .item {
  position: absolute;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  font-size: 0;
  -webkit-transform: translateY(200vh);
      -ms-transform: translateY(200vh);
          transform: translateY(200vh);
}
.section-home .right-block .with-phones .phone-1 {
  top: 0;
  left: 512px;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, -webkit-box-shadow 0.7s 1.1s;
  transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, -webkit-box-shadow 0.7s 1.1s;
  -o-transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, box-shadow 0.7s 1.1s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, box-shadow 0.7s 1.1s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, box-shadow 0.7s 1.1s, -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, -webkit-box-shadow 0.7s 1.1s;
}
.section-home .right-block .with-phones .phone-2 {
  top: 870px;
  left: 212px;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s, -webkit-box-shadow 0.8s 2.5s;
  transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s, -webkit-box-shadow 0.8s 2.5s;
  -o-transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s, box-shadow 0.8s 2.5s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s, box-shadow 0.8s 2.5s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s, box-shadow 0.8s 2.5s, -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s, -webkit-box-shadow 0.8s 2.5s;
}
.section-home .right-block .with-phones .phone-3 {
  top: 620px;
  left: 0;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s, -webkit-box-shadow 1s 2s;
  transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s, -webkit-box-shadow 1s 2s;
  -o-transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s, box-shadow 1s 2s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s, box-shadow 1s 2s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s, box-shadow 1s 2s, -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s, -webkit-box-shadow 1s 2s;
}
.section-home .right-block .with-phones .phone-4 {
  top: 541px;
  left: 850px;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, -webkit-box-shadow 0.5s 1.3s;
  transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, -webkit-box-shadow 0.5s 1.3s;
  -o-transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, box-shadow 0.5s 1.3s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, box-shadow 0.5s 1.3s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, box-shadow 0.5s 1.3s, -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, -webkit-box-shadow 0.5s 1.3s;
}
.section-home .right-block .with-phones .laptop-1 {
  top: 403px;
  left: 225px;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s, -webkit-box-shadow 0.7s 1.8s;
  transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s, -webkit-box-shadow 0.7s 1.8s;
  -o-transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s, box-shadow 0.7s 1.8s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s, box-shadow 0.7s 1.8s;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s, box-shadow 0.7s 1.8s, -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s, -webkit-box-shadow 0.7s 1.8s;
}
.section-can-help {
  background: #202020;
  padding: 265px 0 250px;
  position: relative;
}
.section-can-help:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 59px 50vw;
  border-color: #F7F8F9 #F7F8F9 transparent transparent;
}
.section-can-help h2 {
  font-size: 48px;
  color: #fff;
  margin: 0;
}
.section-can-help h2 span {
  color: #FF4343;
}
.section-can-help .text {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.section-can-help .text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 1em;
  margin-top: 0;
}
.section-can-help .text p strong {
  font-weight: 600;
}
.section-can-help .text :last-child {
  margin-bottom: 0;
}
.section-services {
  padding-bottom: 200px;
  padding-top: 60px;
  overflow: hidden;
  padding-top: 130px;
}
.section-services h2 {
  margin-top: 275px;
  font-size: 48px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.section-services .head-block {
  margin-left: -100px;
  display: inline-block;
  padding-bottom: 50px;
}
.section-services .head-block:before {
  content: none!important;
}
.section-services .head-block h3 {
  font-size: 50px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 0;
}
.section-services .head-block p {
  font-size: 20px;
  margin: 0;
  font-weight: 300;
}
.section-services .row:nth-child(2n) {
  padding-left: 225px;
}
.section-services .row:nth-child(n+2) {
  margin-top: 0;
}
.section-services .block {
  width: 225px;
  height: 225px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.section-services .block:nth-child(2) {
  z-index: 3;
}
.section-services .block:nth-child(2):hover {
  z-index: 2;
}
.section-services .block.animated:before {
  -webkit-box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.05);
}
.section-services .block:not(:last-child) {
  margin-right: 225px;
}
.section-services .block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0);
          box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
  z-index: -1;
  background: #fff;
  cursor: pointer;
}
.section-services .block h5 {
  font-size: 22px;
  line-height: 26.4px;
  color: #333333;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 25px;
  cursor: pointer;
}
.section-services .block p {
  font-size: 13px;
  line-height: 21.6px;
  font-weight: 300;
  margin: 0;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.section-services .block .cls-1 {
  fill: none;
  stroke: #666;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.section-services .block img {
  height: 70px;
}
.section-services .block .wrap-img {
  max-height: 70px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  overflow: hidden;
}
.section-services .block .text {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.section-services .block:hover:before {
  -webkit-box-shadow: 22px 22px 50px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 22px 22px 50px 8px rgba(0, 0, 0, 0.05);
}
.section-services .block:hover .wrap-img {
  max-height: 0;
}
.section-services .block:hover .text {
  max-height: 70px;
}
.section-services .block:hover .cls-1 {
  stroke: #5BA1D8;
}
.section-services .block .more {
  font-size: 18px;
  text-transform: uppercase;
  color: #FF4343;
  font-weight: 600;
  margin-top: 36px;
}
.section-services .block .more img {
  height: 16.7px;
  margin-left: 15px;
}
.section-goods {
  position: relative;
  padding-top: 140px;
  padding-bottom: 195px;
  overflow: hidden;
}
.section-goods.blue {
  background-image: -webkit-gradient(linear, left top, right top, from(#3C57A5), color-stop(27%, #36509A), color-stop(73%, #102152), to(#0C1C4A));
  background-image: -webkit-linear-gradient(left, #3C57A5 0%, #36509A 27%, #102152 73%, #0C1C4A 100%);
  background-image: -o-linear-gradient(left, #3C57A5 0%, #36509A 27%, #102152 73%, #0C1C4A 100%);
  background-image: linear-gradient(to right, #3C57A5 0%, #36509A 27%, #102152 73%, #0C1C4A 100%);
}
.section-goods.blue-left {
  background-image: -webkit-gradient(linear, right top, left top, from(#3F70AB), color-stop(21%, #3967A3), color-stop(92%, #0D2867), to(#1E436F));
  background-image: -webkit-linear-gradient(right, #3F70AB 0%, #3967A3 21%, #0D2867 92%, #1E436F 100%);
  background-image: -o-linear-gradient(right, #3F70AB 0%, #3967A3 21%, #0D2867 92%, #1E436F 100%);
  background-image: linear-gradient(to left, #3F70AB 0%, #3967A3 21%, #0D2867 92%, #1E436F 100%);
}
.section-goods.green {
  background-image: -webkit-gradient(linear, left top, right top, from(#81DB7E), color-stop(50%, #6ACB7D), to(#3BBE65));
  background-image: -webkit-linear-gradient(left, #81DB7E 0%, #6ACB7D 50%, #3BBE65 100%);
  background-image: -o-linear-gradient(left, #81DB7E 0%, #6ACB7D 50%, #3BBE65 100%);
  background-image: linear-gradient(to right, #81DB7E 0%, #6ACB7D 50%, #3BBE65 100%);
}
.section-goods.orange {
  background-image: -webkit-gradient(linear, left top, right top, from(#EBAF24), color-stop(50%, #EBAD24), to(#F1871E));
  background-image: -webkit-linear-gradient(left, #EBAF24 0%, #EBAD24 50%, #F1871E 100%);
  background-image: -o-linear-gradient(left, #EBAF24 0%, #EBAD24 50%, #F1871E 100%);
  background-image: linear-gradient(to right, #EBAF24 0%, #EBAD24 50%, #F1871E 100%);
}
.section-goods.purple {
  background-image: -webkit-gradient(linear, left top, right top, from(#78186B), color-stop(40%, #A33D99), to(#D888DE));
  background-image: -webkit-linear-gradient(left, #78186B 0%, #A33D99 40%, #D888DE 100%);
  background-image: -o-linear-gradient(left, #78186B 0%, #A33D99 40%, #D888DE 100%);
  background-image: linear-gradient(to right, #78186B 0%, #A33D99 40%, #D888DE 100%);
}
.section-goods .container {
  position: relative;
  z-index: 2;
}
.section-goods .additional-elements {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.section-goods .additional-elements .big {
  position: absolute;
  bottom: 40px;
  height: 300px;
  left: 50%;
  margin-left: 300px;
}
.section-goods .additional-elements .middle-fish {
  position: absolute;
  top: 226px;
  width: 514.55px;
  left: 50%;
  margin-left: 451px;
}
.section-goods .additional-elements .small {
  position: absolute;
  top: 53px;
  height: 84px;
  right: 50%;
  margin-right: 504px;
}
.section-goods .additional-elements .by-phone {
  position: absolute;
  left: 50%;
  top: -74px;
  margin-left: -50px;
}
.section-goods .additional-elements .center-bg {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-goods .additional-elements .tomatoes {
  position: absolute;
  top: 111.6px;
  right: 101.4px;
}
.section-goods .additional-elements .lime {
  position: absolute;
  bottom: 67.1px;
  right: 143.4px;
}
.section-goods .additional-elements .scheme {
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -120px;
}
.section-goods .additional-elements .senty-el {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: -82px;
}
.section-goods .additional-elements .right-hand {
  position: absolute;
  right: -25px;
  top: -64px;
}
.section-goods .additional-elements .left-hand {
  bottom: 70px;
  left: -30px;
  position: absolute;
}
.section-goods .block-6 .text {
  max-width: 354px;
}
.section-goods .block-6 .text .logo {
  width: 74px;
  margin-bottom: 44px;
}
.section-goods .block-6 .text h3 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  margin-top: 0;
  margin-bottom: 25px;
}
.section-goods .block-6 .text hr {
  height: 2px;
  width: 58px;
  background: #FF4343;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: none;
  display: inline-block;
  margin-bottom: 30px;
}
.section-goods .block-6 .text p {
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
}
.section-goods .block-6 .text .btns {
  margin-top: 40px;
}
.section-goods .block-6 .text .btns .btn {
  padding: 18px 40px;
  background: #FF4343;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  white-space: nowrap;
}
.section-goods .block-6 .text .btns .btn:hover {
  background: #CA3535;
}
.section-goods .block-6 .text .btns .btn span {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}
.section-goods .block-6 .text .btns .btn svg {
  display: inline-block;
  vertical-align: middle;
}
.section-goods .block-6 .text .btns .play {
  cursor: pointer;
  margin-left: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 4px 25px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 25px 7px rgba(0, 0, 0, 0.2);
  font-size: 0;
}
.section-goods .block-6 .text .btns .play svg {
  width: 60px;
  height: 60px;
}
.section-goods .block-6 .text .btns .play path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.section-goods .block-6 .text .btns .play:hover path {
  fill: #bbb;
}
.section-goods .block-6.with-phone {
  padding-left: 60px;
}
.section-goods .block-6.with-phone .block-with-phone {
  display: inline-block;
  position: relative;
  width: 250px;
}
.section-goods .block-6.with-phone .block-with-phone img {
  width: 100%;
}
.section-goods .block-6.with-phone .block-with-phone .screen-bg {
  position: absolute;
  top: 12.4%;
  width: 87.3%;
  height: 75.3%;
  left: 6.7%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
}
.section-goods .block-6.with-notebook {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15px;
}
.section-goods .block-6.with-notebook .block-with-notebook {
  display: inline-block;
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 810.23px;
}
.section-goods .block-6.with-notebook .block-with-notebook img {
  width: 100%;
}
.section-goods .block-6.with-notebook .block-with-notebook .screen-bg {
  position: absolute;
  top: 9.8%;
  width: 72.5%;
  height: 69.9%;
  left: 12%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
}
.section-goods .block-6.with-notebook + .with-text,
.section-goods .block-6.with-phone + .with-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section-goods .block-6.with-notebook + .with-text .text,
.section-goods .block-6.with-phone + .with-text .text {
  display: inline-block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.section-goods .block-6.with-text + .with-notebook,
.section-goods .block-6.with-text + .with-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section-goods .screen-bg {
  background-color: #000;
}
.section-goods .screen-bg + .screen-bg {
  background: transparent;
}
.section-testimonial {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 60px;
  position: relative;
}
.section-testimonial:before {
  content: '';
  position: absolute;
  bottom: 100%;
  border-width: 41px;
  border-style: solid;
  margin-left: -41px;
  left: 50%;
  margin-bottom: -1px;
  border-color: transparent transparent #F7F8F9 transparent;
}
.section-testimonial h3 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #202020;
  margin-bottom: 0;
}
.section-testimonial h4 {
  font-size: 14px;
  font-weight: bold;
  color: #202020;
  margin-bottom: 24px;
  margin-top: 0;
}
.section-testimonial p {
  font-size: 18px;
  font-style: italic;
  line-height: 27px;
  color: #202020;
  margin-bottom: 20px;
}
.section-contact-us {
  padding-top: 32px;
  padding-bottom: 178px;
}
.section-contact-us .contact-us-form {
  background: #F9F9F9;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  padding: 55px;
}
.section-contact-us .contact-us-form .block-6 {
  padding-left: 25px;
  padding-right: 25px;
}
.section-contact-us .contact-us-form h2 {
  font-size: 48px;
  font-weight: bold;
  color: #4A4A4A;
  font-family: "Ubuntu", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.section-contact-us .contact-us-form p {
  font-size: 21px;
  font-weight: 300;
  color: #707070;
}
.section-contact-us .contact-us-form .field {
  margin-bottom: 28px;
  position: relative;
}
.section-contact-us .contact-us-form .field.error input,
.section-contact-us .contact-us-form .field.error textarea {
  border-bottom-color: #FF4343;
}
.section-contact-us .contact-us-form .field.error span {
  color: #FF4343;
}
.section-contact-us .contact-us-form .field.error .error-message {
  opacity: 1;
}
.section-contact-us .contact-us-form .field .error-message {
  position: absolute;
  top: 100%;
  left: 20px;
  font-size: 12px;
  color: #FF4343;
  opacity: 0;
  pointer-events: none;
}
.section-contact-us .contact-us-form .field span {
  font-family: "Segoe UI", sans-serif;
  color: #6E6E6E;
  position: absolute;
  top: 18px;
  left: 22px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  pointer-events: none;
}
.section-contact-us .contact-us-form .field span i {
  font-style: normal;
  color: #FF4343;
}
.section-contact-us .contact-us-form .field.has-focus span {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  top: 0;
}
.section-contact-us .contact-us-form .field input,
.section-contact-us .contact-us-form .field textarea {
  background: #E8E8E8;
  border: none;
  border-bottom: 2px solid #A8A8A8;
  height: 58px;
  display: block;
  width: 100%;
  padding-left: 22px;
  outline: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.section-contact-us .contact-us-form .field textarea {
  height: 142px;
  padding-top: 18px;
  resize: none;
}
.section-contact-us .contact-us-form .center {
  text-align: center;
}
.section-contact-us .contact-us-form .btn {
  font-size: 18px;
  letter-spacing: .7px;
  background: #FF4343;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.section-contact-us .contact-us-form .btn:hover {
  background: #CA3535;
}
.section-contact-us .block-links {
  margin-top: 80px;
}
.section-contact-us .block-links a,
.section-contact-us .block-links .address {
  display: block;
  margin-bottom: 30px;
}
.section-contact-us .block-links a svg,
.section-contact-us .block-links .address svg {
  margin-right: 24px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.section-contact-us .block-links a svg .cls-1,
.section-contact-us .block-links .address svg .cls-1,
.section-contact-us .block-links a svg .cls-4,
.section-contact-us .block-links .address svg .cls-4 {
  fill: none;
}
.section-contact-us .block-links a svg .cls-1,
.section-contact-us .block-links .address svg .cls-1 {
  stroke: #2D2D2D;
  stroke-width: 5px;
}
.section-contact-us .block-links a svg .cls-2,
.section-contact-us .block-links .address svg .cls-2 {
  fill: #2D2D2D;
}
.section-contact-us .block-links a svg .cls-3,
.section-contact-us .block-links .address svg .cls-3 {
  stroke: none;
}
.section-contact-us .block-links a span,
.section-contact-us .block-links .address span {
  color: #4A4A4A;
  font-weight: 600;
  display: inline-block;
  letter-spacing: .6px;
  line-height: 26px;
  vertical-align: top;
}
footer {
  padding-top: 90px;
  padding-bottom: 50px;
  background: #2D2D2D;
}
footer .logo {
  margin-bottom: 56px;
  display: inline-block;
}
footer .logo .cls-1 {
  fill: #FFFFFF;
}
footer .main-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .left .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}
footer .left .social svg path {
  fill: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
footer .left .social a:hover svg path {
  fill: #bbb;
}
footer .center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .center ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 200px;
}
footer .center ul li {
  margin-bottom: 13px;
}
footer .center ul li a {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: 21px;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
footer .center ul li a:hover {
  color: #bbb;
}
footer .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .right a:hover {
  color: #bbb;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
footer .right a,
footer .right .address {
  color: #fff;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 26px;
  display: inline-block;
}
footer .right a:not(:last-child),
footer .right .address:not(:last-child) {
  margin-bottom: 25px;
}
footer .right a span,
footer .right .address span {
  display: inline-block;
}
footer .right svg {
  margin-right: 24px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
footer .right svg .cls-1,
footer .right svg .cls-4 {
  fill: none;
}
footer .right svg .cls-1 {
  stroke: #FF4343;
  stroke-width: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
footer .right svg .cls-2 {
  fill: #FF4343;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
footer .right svg .cls-3 {
  stroke: none;
}
footer .copyright {
  color: #fff;
}
.section-main-product {
  background-image: -webkit-gradient(linear, left top, right top, from(#593A90), to(#2F165E));
  background-image: -webkit-linear-gradient(left, #593A90 0%, #2F165E 100%);
  background-image: -o-linear-gradient(left, #593A90 0%, #2F165E 100%);
  background-image: linear-gradient(to right, #593A90 0%, #2F165E 100%);
  position: relative;
  padding-top: 200px;
  padding-bottom: 125px;
  overflow: hidden;
}
.section-main-product:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 35px 50vw;
  border-color: transparent transparent #F7F8F9 #F7F8F9;
}
.section-main-product:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  border-style: solid;
  border-width: 35px 50vw;
  border-color: transparent transparent #F7F8F9 #F7F8F9;
}
.section-main-product .container {
  position: relative;
}
.section-main-product .bg-element-teletare {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-main-product .left-block .text {
  max-width: 324px;
}
.section-main-product .left-block .text h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 25px;
}
.section-main-product .left-block .text hr {
  background: #FFC400;
  height: 2px;
  border: none;
  width: 58px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin: 0;
  margin-bottom: 27px;
}
.section-main-product .left-block .text p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}
.section-main-product .with-notebook .block-with-notebook {
  position: relative;
  width: 684.53px;
}
.section-main-product .with-notebook .block-with-notebook img {
  width: 100%;
}
.section-main-product .with-notebook .block-with-notebook .screen-bg {
  position: absolute;
  top: 9.7%;
  left: 12%;
  width: 72.6%;
  height: 70.1%;
  -webkit-background-size: cover;
          background-size: cover;
}
.section-our-goal {
  padding-top: 150px;
  padding-bottom: 55px;
}
.section-our-goal h2 {
  font-size: 48px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.section-our-goal .text {
  max-width: 558px;
}
.section-our-goal .text p {
  font-size: 14px;
  font-weight: 300;
  color: #020307;
}
.section-our-goal .text p strong {
  font-weight: 600;
}
.section-structure {
  background-image: -webkit-linear-gradient(45deg, #593A90, #30175F);
  background-image: -o-linear-gradient(45deg, #593A90, #30175F);
  background-image: linear-gradient(45deg, #593A90, #30175F);
  padding-bottom: 100px;
  padding-top: 165px;
  position: relative;
}
.section-structure:before {
  content: '';
  position: absolute;
  border-width: 330px 50vw;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #F7F8F9 transparent transparent #F7F8F9;
}
.section-structure:after {
  content: '';
  position: absolute;
  border-width: 330px 50vw;
  top: -1px;
  left: 0;
  border-style: solid;
  border-color: #F7F8F9 transparent transparent #F7F8F9;
}
.section-structure .container {
  position: relative;
  z-index: 2;
}
.section-structure .left-path.to-top-phone .wrap-block-image {
  -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translateY(0);
          transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translateY(0);
}
.section-structure .left-path .wrap-block-image {
  -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translateY(3000px);
          transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translateY(3000px);
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.section-structure .left-path .block-image {
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1158px) scale(1.42857142, 1.42857142) skew(-3.7deg, 0) rotateX(-24.1deg) rotateY(-4.7deg) rotateZ(38.4deg);
          transform: perspective(1158px) scale(1.42857142, 1.42857142) skew(-3.7deg, 0) rotateX(-24.1deg) rotateY(-4.7deg) rotateZ(38.4deg);
}
.section-structure .left-path .block-image img {
  width: 670px;
}
.section-structure .left-path .block-image .screen {
  position: absolute;
  top: -64%;
  left: 61.4%;
  width: 70%;
  height: 157%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg);
          transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg);
  -webkit-border-radius: 40px;
          border-radius: 40px;
  z-index: 3;
}
.section-structure .right-path {
  padding-bottom: 240px;
  color: #fff;
  padding-left: 30px;
}
.section-structure .right-path h4 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 21px;
}
.section-structure .right-path p {
  font-size: 14px;
  font-weight: 400;
}
.section-structure .right-path .text {
  max-width: 320px;
}
.section-post-info,
.section-tabs {
  padding-top: 150px;
  padding-bottom: 50px;
}
.section-post-info .text,
.section-tabs .text {
  max-width: 324px;
}
.section-post-info .text h4,
.section-tabs .text h4 {
  font-size: 18px;
  font-weight: bold;
}
.section-post-info .text p,
.section-tabs .text p {
  font-size: 14px;
  line-height: 21px;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}
.section-post-info .with-text,
.section-tabs .with-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section-post-info .with-notebook + .with-text,
.section-tabs .with-notebook + .with-text,
.section-post-info .with-phone + .with-text,
.section-tabs .with-phone + .with-text {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section-post-info .with-text + .with-notebook,
.section-tabs .with-text + .with-notebook {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section-post-info .with-notebook,
.section-tabs .with-notebook {
  margin-bottom: -70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section-post-info .with-notebook .block-with-notebook,
.section-tabs .with-notebook .block-with-notebook {
  position: relative;
  width: 684.53px;
  display: inline-block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.section-post-info .with-notebook .block-with-notebook img,
.section-tabs .with-notebook .block-with-notebook img {
  width: 100%;
}
.section-post-info .with-notebook .block-with-notebook .screen-bg,
.section-tabs .with-notebook .block-with-notebook .screen-bg {
  position: absolute;
  top: 9.7%;
  left: 12%;
  width: 72.6%;
  height: 70.1%;
  -webkit-background-size: cover;
          background-size: cover;
}
.section-post-info .with-phone,
.section-tabs .with-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-post-info .with-phone .block-with-phone,
.section-tabs .with-phone .block-with-phone {
  position: relative;
  display: inline-block;
}
.section-post-info .with-phone .block-with-phone .screen-bg,
.section-tabs .with-phone .block-with-phone .screen-bg {
  position: absolute;
  top: 12.4%;
  left: 6.5%;
  width: 88%;
  height: 74.9%;
  -webkit-background-size: cover;
          background-size: cover;
}
.section-tabs {
  padding-bottom: 190px;
}
.section-tabs .with-notebook {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section-tabs .blocks .block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.section-tabs .blocks .block:not(:last-child) {
  margin-bottom: 45px;
}
.section-tabs .blocks .block.active .cls-1 {
  fill: #57388e;
}
.section-tabs .blocks .block.active .cls-2 {
  stroke: #57388e;
}
.section-tabs .blocks .block.active .right h4,
.section-tabs .blocks .block.active .right p {
  color: #57388e;
}
.section-tabs .blocks .block .cls-1 {
  fill: #8e8f8f;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.section-tabs .blocks .block .cls-2 {
  stroke: #8e8f8f;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.section-tabs .blocks .block svg {
  display: inline-block;
}
.section-tabs .blocks .block .wrap-icon {
  width: 50px;
  text-align: center;
  margin-right: 21px;
}
.section-tabs .blocks .block .right {
  display: inline-block;
}
.section-tabs .blocks .block .right h4 {
  margin-bottom: 6px;
  margin-top: 0;
  font-weight: bold;
  font-size: 14px;
  color: #030408;
  text-transform: uppercase;
}
.section-tabs .blocks .block .right p {
  margin: 0;
  font-size: 14px;
  color: #020307;
}
.section-tabs .screen-bg {
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.section-tabs .screen-bg.active {
  opacity: 1;
}
.section-screen-project {
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 257px;
  padding-bottom: 257px;
  position: relative;
  z-index: 3;
}
.section-screen-project:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.section-screen-project .container {
  position: relative;
  z-index: 5;
}
.section-screen-project .text-info {
  padding: 80px 46px;
  background: rgba(255, 255, 255, 0.76);
  width: 460px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  margin-left: 80px;
}
.section-screen-project .wrap-iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding-bottom: 56.25%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}
.section-screen-project .wrap-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-concept {
  background-image: -webkit-linear-gradient(45deg, #593A90, #30175F);
  background-image: -o-linear-gradient(45deg, #593A90, #30175F);
  background-image: linear-gradient(45deg, #593A90, #30175F);
  padding-top: 220px;
  padding-bottom: 494px;
  position: relative;
}
.section-concept:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #F7F8F9;
}
.section-concept:after {
  content: '';
  position: absolute;
  bottom: 100px;
  left: 0;
  border-style: solid;
  border-width: 33.6vw 50vw;
  border-color: transparent #F7F8F9 #F7F8F9 transparent;
}
.section-concept .text {
  color: #fff;
  margin-bottom: 120px;
}
.section-concept .wrapper-for-all-rotated {
  position: relative;
  z-index: 2;
}
.section-concept .wrapper-for-all-rotated.to-top-phone .wrap-block-image {
  -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translate(0, 0);
          transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translate(0, 0);
  opacity: 1;
}
.section-concept .wrapper-for-all-rotated.to-top-phone .concept-phones .screen-2,
.section-concept .wrapper-for-all-rotated.to-top-phone .concept-phones .screen-3,
.section-concept .wrapper-for-all-rotated.to-top-phone .concept-phones .screen-4,
.section-concept .wrapper-for-all-rotated.to-top-phone .concept-phones .screen-5,
.section-concept .wrapper-for-all-rotated.to-top-phone .concept-phones .screen-6,
.section-concept .wrapper-for-all-rotated.to-top-phone .concept-phones .screen-7,
.section-concept .wrapper-for-all-rotated.to-top-phone .concept-phones .screen-8,
.section-concept .wrapper-for-all-rotated.to-top-phone .concept-phones .screen-9 {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.section-concept .wrap-block-image {
  -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translate(222px, 3000px);
          transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translate(222px, 3000px);
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
  opacity: 0;
}
.section-concept .wrap-block-image .block-image {
  display: inline-block;
  position: relative;
  top: -170px;
  left: -26px;
  -webkit-transform: perspective(1158px) scale(1.42857142, 1.42857142) skew(-3.7deg, 0) rotateX(-24.1deg) rotateY(-4.7deg) rotateZ(38.4deg);
  transform: perspective(738px) scale(1.428571, 1.42857142) skew(-12.4deg, 0) rotateX(-18.1deg) rotateY(-14.7deg) rotateZ(27.7deg);
}
.section-concept .concept-phones {
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: perspective(1468px) scale(1, 1) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-34.6deg);
          transform: perspective(1468px) scale(1, 1) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-34.6deg);
}
.section-concept .concept-phones .screen-2,
.section-concept .concept-phones .screen-3,
.section-concept .concept-phones .screen-4,
.section-concept .concept-phones .screen-5,
.section-concept .concept-phones .screen-6,
.section-concept .concept-phones .screen-7,
.section-concept .concept-phones .screen-8,
.section-concept .concept-phones .screen-9 {
  position: absolute;
  top: -64%;
  left: 61.4%;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 1.7s;
  -o-transition: 1.7s;
  transition: 1.7s;
  -webkit-transform: translateY(3000px);
      -ms-transform: translateY(3000px);
          transform: translateY(3000px);
  -webkit-box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.3);
}
.section-concept .concept-phones .screen-2 {
  top: -448px;
  left: 790px;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}
.section-concept .concept-phones .screen-3 {
  top: -1350px;
  left: 405px;
  -webkit-transition-delay: .9s;
       -o-transition-delay: .9s;
          transition-delay: .9s;
}
.section-concept .concept-phones .screen-4 {
  top: -1400px;
  left: 790px;
  -webkit-transition-delay: .6s;
       -o-transition-delay: .6s;
          transition-delay: .6s;
}
.section-concept .concept-phones .screen-5 {
  top: -760px;
  left: -330px;
  -webkit-transition-delay: .7s;
       -o-transition-delay: .7s;
          transition-delay: .7s;
}
.section-concept .concept-phones .screen-6 {
  top: -760px;
  left: 20px;
  -webkit-transition-delay: .5s;
       -o-transition-delay: .5s;
          transition-delay: .5s;
}
.section-concept .concept-phones .screen-7 {
  top: -1710px;
  left: 20px;
  -webkit-transition-delay: .5s;
       -o-transition-delay: .5s;
          transition-delay: .5s;
}
.section-concept .concept-phones .screen-8 {
  top: -760px;
  left: -680px;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}
.section-concept .concept-phones .screen-9 {
  top: -2360px;
  left: 405px;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.section-concept .block-image {
  display: inline-block;
  position: relative;
}
.section-concept .block-image img {
  width: 670px;
}
.section-concept .block-image .screen {
  position: absolute;
  top: -64%;
  left: 61.4%;
  width: 70%;
  height: 157%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg);
          transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg);
  -webkit-border-radius: 40px;
          border-radius: 40px;
  z-index: 3;
}
.section-launch-site {
  text-align: center;
  padding-top: 0;
  margin-top: -100px;
  padding-bottom: 60px;
  position: relative;
  z-index: 4;
}
.section-launch-site img {
  margin-bottom: 100px;
}
.section-launch-site .btn {
  background: #5F428C;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .7px;
}
.section-launch-site .btn:hover {
  background: #3B2856;
}
.section-launch-site .center {
  text-align: center;
}
.section-launch-site .social {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-launch-site .social span {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.section-launch-site .social a {
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-left: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: rgba(0, 0, 0, 0);
}
.section-launch-site .social a:hover {
  border-color: #fff;
  background: #000000;
}
.section-launch-site .social a:hover svg path {
  fill: #fff;
}
.section-launch-site .social a svg {
  width: 100%;
  max-width: 23px;
  max-height: 23px;
}
.section-launch-site .social a svg path {
  fill: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.section-other-project {
  padding-bottom: 150px;
  padding-top: 80px;
}
.section-other-project h2 {
  font-size: 48px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-align: center;
}
.section-other-project .swiper-slide {
  display: inline-block;
  width: initial;
  height: initial;
  text-align: center;
  padding-bottom: 15px;
}
.section-other-project .swiper-slide img {
  width: 100%;
}
.section-other-project .swiper-slide h4 {
  font-size: 24px;
  font-weight: bold;
  color: #0D1E4D;
  margin-top: 20px;
  margin-bottom: 0;
}
.section-other-project .swiper-slide p {
  font-size: 14px;
  color: #0D1E4D;
  font-weight: 400;
  margin: 0;
}
.section-other-project .swiper-pagination {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-other-project .swiper-pagination .swiper-pagination-bullet {
  margin-left: 5px;
  margin-right: 5px;
}
.section-other-project .swiper-pagination .swiper-pagination-bullet-active {
  background: #5F428C;
}
/* ===============   Adaptive   ============== */
@media screen and (max-width: 1110px) {
  .section-services .row:nth-child(n+2) {
    margin-top: -45px;
  }
  .section-services .block:not(:last-child) {
    margin-right: 135px;
  }
  .section-services .row:nth-child(2n) {
    padding-left: 180px;
  }
  .section-concept .wrap-block-image .block-image {
    top: -110px;
  }
}
@media screen and (max-width: 992px) {
  body.show-menu {
    overflow: hidden;
  }
  body.show-menu header .right .menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-transition: opacity 0.3s 0s, padding-top 0.3s, -webkit-transform 0s 0s;
    transition: opacity 0.3s 0s, padding-top 0.3s, -webkit-transform 0s 0s;
    -o-transition: opacity 0.3s 0s, transform 0s 0s, padding-top 0.3s;
    transition: opacity 0.3s 0s, transform 0s 0s, padding-top 0.3s;
    transition: opacity 0.3s 0s, transform 0s 0s, padding-top 0.3s, -webkit-transform 0s 0s;
  }
  body.show-menu header .right .sandwitch-btn i:first-child {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    margin-top: -11px;
  }
  body.show-menu header .right .sandwitch-btn i:nth-child(2) {
    opacity: 0;
  }
  body.show-menu header .right .sandwitch-btn i:last-child {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    margin-top: 11px;
  }
  body.show-menu.other-page header:not(.scrolled) .right ul li a {
    color: #1e1e1e;
  }
  body.show-menu.other-page header:not(.scrolled) .logo .cls-1 {
    fill: #1e1e1e;
  }
  body.show-menu.other-page header:not(.scrolled) .right .sandwitch-btn i {
    background: #1e1e1e;
  }
  header.scrolled .right .menu {
    padding-top: 53px;
  }
  header .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F7F8F9;
    -webkit-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
            transform: translateX(-100vw);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
  }
  header .menu ul li a:after {
    bottom: 0;
  }
  header .right .sandwitch-btn {
    display: inline-block;
    cursor: pointer;
  }
  header .right .menu {
    padding-top: 105px;
    opacity: 0;
    height: 100vh;
    background: #F7F8F9;
    -webkit-transition: opacity 0.3s 0s, padding-top 0.3s, -webkit-transform 0s 0.3s;
    transition: opacity 0.3s 0s, padding-top 0.3s, -webkit-transform 0s 0.3s;
    -o-transition: opacity 0.3s 0s, transform 0s 0.3s, padding-top 0.3s;
    transition: opacity 0.3s 0s, transform 0s 0.3s, padding-top 0.3s;
    transition: opacity 0.3s 0s, transform 0s 0.3s, padding-top 0.3s, -webkit-transform 0s 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .right .menu li.contact {
    padding-top: 13px;
    padding-right: 13px;
  }
  header .right .menu li a {
    font-size: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    display: inline-block;
    color: #1e1e1e;
  }
  .section-home .left-block {
    min-width: 400px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .section-can-help .left {
    width: 35%;
  }
  .section-contact-us .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-contact-us .main-row > * {
    width: 100%;
  }
  .section-contact-us .block-links {
    display: inline-block;
  }
  .contact-us-form .block-6:first-child {
    text-align: center;
  }
  .contact-us-form .block-6:first-child .block-links {
    text-align: left;
  }
  .section-structure {
    padding-top: 0;
  }
  .section-structure:before {
    border-width: 170px 50vw;
  }
  .section-structure:after {
    border-width: 170px 50vw;
  }
  .section-structure .left-path {
    margin-top: -70px;
  }
  .section-structure .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-structure .main-row > * {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-structure .right-path {
    padding-bottom: 0;
    padding-left: 0;
  }
  .section-tabs {
    padding-top: 50px;
  }
  .section-tabs .main-row {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .section-tabs .with-tabs {
    min-width: 290px;
  }
  .section-concept .wrap-block-image .block-image {
    top: -35px;
  }
  .section-concept .wrapper-for-all-rotated.to-top-phone .wrap-block-image {
    -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38deg) translate(10px, 0);
            transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38deg) translate(10px, 0);
  }
}
@media screen and (max-width: 768px) {
  .section-main-product {
    padding-top: 100px;
  }
  .section-main-product .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-main-product .main-row > * {
    width: 100%;
  }
  .section-main-product .main-row .left-block .text {
    margin: 0 auto;
    text-align: center;
  }
  .section-main-product .main-row .left-block .text hr {
    display: inline-block;
  }
  .section-main-product .main-row .left-block .text p {
    text-align: left;
  }
  .section-main-product .main-row .with-notebook .block-with-notebook {
    margin: 0 auto;
    max-width: 100%;
  }
  .section-main-product .main-row .with-notebook {
    padding-left: 4%;
  }
  .section-tabs .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-tabs .with-notebook {
    margin-bottom: 0;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-tabs .with-notebook .block-with-notebook {
    width: 100%;
  }
  .section-can-help .left {
    width: 50%;
  }
  .section-services .main-row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services .main-row > * {
    width: 100%;
  }
  .section-services .main-row h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 100px;
  }
  .section-services .main-row h2 br {
    display: none;
  }
  .section-services .main-row .right .blocks .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-services .main-row .right .blocks .row:nth-child(2n) {
    padding-left: 0;
  }
  .section-services .main-row .right .blocks .row .block {
    width: 215px;
    height: 215px;
    padding-top: 30px;
  }
  .section-goods {
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .section-goods .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-goods .main-row > * {
    width: 100%;
  }
  .section-goods .main-row .text {
    max-width: initial;
  }
  .section-goods .main-row .text img {
    margin: 0 auto;
    display: block;
  }
  .section-goods .main-row .text img.logo {
    margin-bottom: 15px;
  }
  .section-goods .main-row .text h3 {
    text-align: center;
  }
  .section-goods .main-row .with-text {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .section-goods .main-row .with-text .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-goods .main-row .with-text .btns .play {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .section-goods .main-row .block-6.with-phone {
    padding-left: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .section-goods .main-row .block-6.with-text + .with-phone {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-goods .main-row .block-6.with-notebook {
    padding-right: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-goods .main-row .block-6.with-notebook .block-with-notebook {
    width: 100%;
  }
  .section-goods .main-row .block-6.with-notebook + .with-text .text,
  .section-goods .main-row .block-6.with-phone + .with-text .text {
    width: 100%;
  }
  footer .main-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  footer .main-row .left {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
  footer .main-row .left .social {
    margin: 0 auto;
  }
  footer .main-row .left .logo {
    margin-bottom: 40px;
  }
  footer .main-row .center,
  footer .main-row .right {
    width: 50%;
  }
  .section-our-goal {
    padding-top: 70px;
  }
  .section-our-goal .text {
    max-width: 100%;
  }
  .section-our-goal .main-row {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-our-goal .main-row h2 {
    text-align: center;
  }
  .section-our-goal .main-row > * {
    width: 100%;
  }
  .section-concept .right-path {
    width: 45%;
  }
  .section-concept {
    padding-top: 60px;
    padding-bottom: 255px;
  }
  .section-concept .wrap-block-image .block-image {
    top: 55px;
    left: -7px;
    -webkit-transform: perspective(738px) scale(1.428571, 1.42857142) skew(-12.4deg, 0) rotateX(-18.1deg) rotateY(-14.7deg) rotateZ(28.8deg);
            transform: perspective(738px) scale(1.428571, 1.42857142) skew(-12.4deg, 0) rotateX(-18.1deg) rotateY(-14.7deg) rotateZ(28.8deg);
  }
  .section-concept .text {
    margin-bottom: 190px;
  }
}
@media screen and (max-width: 600px) {
  .section-can-help .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-can-help .main-row .left,
  .section-can-help .main-row .right {
    width: 100%;
  }
  .section-can-help .main-row h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .section-can-help .main-row h2 br {
    display: none;
  }
  .section-can-help .main-row h2 span {
    display: block;
  }
  .section-services .main-row .right .blocks .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services .main-row .right .blocks .row .block:nth-child(odd) {
    margin-right: 175px;
    margin-top: -40px;
  }
  .section-services .main-row .right .blocks .row .block:nth-child(even) {
    margin-left: 175px;
    margin-top: -40px;
  }
  .section-services .main-row .right .blocks .row:nth-child(n+2) {
    margin-top: 0;
  }
  .section-services .main-row .right .blocks .row:nth-child(2n+3) .block:nth-child(even) {
    margin-right: 175px;
    margin-left: 0;
    margin-top: -40px;
  }
  .section-services .main-row .right .blocks .row:nth-child(2n+3) .block:nth-child(odd) {
    margin-left: 175px;
    margin-right: 0;
    margin-top: -40px;
  }
  .section-structure:before {
    border-width: 26vw 50vw;
  }
  .section-structure:after {
    border-width: 26vw 50vw;
  }
  .section-structure .left-path .block-image {
    width: 350px;
  }
  .section-structure .left-path .block-image img {
    width: 100%;
  }
  .section-structure .left-path .block-image .screen {
    position: absolute;
    top: -38.2%;
    left: 61.4%;
    width: 70%;
    height: 130%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg);
    transform: perspective(648px) scale(0.7, 0.7) skew(3.3deg, 5.3deg) rotateX(17.4deg) rotateY(9.9deg) rotateZ(-43.7deg);
    -webkit-border-radius: 40px;
    border-radius: 22px;
    z-index: 3;
  }
  .section-structure .left-path {
    margin-top: 0;
  }
  .section-post-info {
    padding-top: 50px;
  }
  .section-post-info .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-post-info .main-row > * {
    width: 100%;
  }
  .section-post-info .main-row .block-with-phone {
    max-width: 100%;
  }
  .section-post-info .main-row .with-notebook,
  .section-post-info .main-row .with-phone {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 0;
  }
  .section-post-info .main-row .with-notebook .block-with-notebook,
  .section-post-info .main-row .with-phone .block-with-notebook {
    width: 100%;
  }
  .section-post-info .text {
    width: 100%;
    max-width: 100%;
  }
  .section-screen-project .text-info {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 25px;
  }
  .section-concept .text {
    margin-bottom: 270px;
  }
  .section-concept .wrap-block-image .block-image {
    top: 125px;
    left: 10px;
    -webkit-transform: perspective(738px) scale(1.428571, 1.42857142) skew(-12.4deg, 0) rotateX(-18.1deg) rotateY(-14.7deg) rotateZ(30.2deg);
            transform: perspective(738px) scale(1.428571, 1.42857142) skew(-12.4deg, 0) rotateX(-18.1deg) rotateY(-14.7deg) rotateZ(30.2deg);
  }
  .section-concept {
    overflow: hidden;
  }
}
@media screen and (max-width: 500px) {
  .section-home .left-block {
    min-width: 260px;
    padding-top: 140px;
  }
  .section-home .left-block h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .section-home .left-block .btn {
    padding: 16px 40px;
  }
  .section-contact-us .contact-us-form {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-concept .right-path {
    width: 75%;
  }
  .section-concept .right-path .text {
    margin-bottom: 370px;
  }
  .section-concept .wrap-block-image .block-image {
    top: 175px;
  }
}
@media screen and (max-width: 460px) {
  .section-can-help {
    padding-top: 140px;
    padding-bottom: 100px;
  }
  .section-can-help h2 {
    font-size: 34px;
  }
  .section-other-project h2 {
    font-size: 34px;
  }
  .section-services .block {
    width: 260px;
    height: 260px;
    padding-top: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-services .block p {
    font-size: 12px;
    line-height: 19.2px;
  }
  .section-services .main-row .right .blocks .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services .main-row .right .blocks .row .block {
    padding-top: 20px;
  }
  .section-services .main-row .right .blocks .row .block:nth-child(odd) {
    margin-right: 135px;
    margin-top: 0;
  }
  .section-services .main-row .right .blocks .row .block:nth-child(even) {
    margin-left: 135px;
    margin-top: 0;
  }
  .section-services .main-row .right .blocks .row:nth-child(n+2) {
    margin-top: 0;
  }
  .section-services .main-row .right .blocks .row:nth-child(2n+3) .block:nth-child(even) {
    margin-right: 135px;
    margin-left: 0;
    margin-top: 0;
  }
  .section-services .main-row .right .blocks .row:nth-child(2n+3) .block:nth-child(odd) {
    margin-left: 135px;
    margin-right: 0;
    margin-top: 0;
  }
  .section-contact-us .contact-us-form {
    padding-left: 0;
    padding-right: 0;
  }
  .section-contact-us .contact-us-form .block-6 {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer .main-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .main-row .center,
  footer .main-row .right {
    width: 100%;
  }
  footer .main-row .right {
    max-width: 230px;
  }
  footer .center ul li {
    text-align: center;
  }
  footer .copyright {
    text-align: center;
  }
  .section-our-goal .main-row h2 {
    margin-top: 0;
  }
  .section-structure {
    overflow: hidden;
  }
  .section-structure .left-path {
    margin-top: -30px;
  }
  .section-tabs {
    padding-bottom: 90px;
  }
  .section-tabs .with-notebook {
    margin-bottom: 30px;
    width: initial;
    margin-left: -15px;
    margin-right: -15px;
  }
  .section-tabs .blocks .block:not(:last-child) {
    margin-bottom: 25px;
  }
  .section-screen-project {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 400px) {
  .section-services {
    padding-top: 70px;
  }
  .section-services h2 {
    margin-bottom: 70px;
  }
  .section-services .main-row .right .blocks .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services .main-row .right .blocks .row .block {
    padding-top: 20px;
  }
  .section-services .main-row .right .blocks .row .block:nth-child(odd) {
    margin-right: 95px;
    margin-top: 30px;
  }
  .section-services .main-row .right .blocks .row .block:nth-child(even) {
    margin-left: 95px;
    margin-top: 30px;
  }
  .section-services .main-row .right .blocks .row:nth-child(n+2) {
    margin-top: 0;
  }
  .section-services .main-row .right .blocks .row:nth-child(2n+3) .block:nth-child(even) {
    margin-right: 95px;
    margin-left: 0;
    margin-top: 30px;
  }
  .section-services .main-row .right .blocks .row:nth-child(2n+3) .block:nth-child(odd) {
    margin-left: 95px;
    margin-right: 0;
    margin-top: 30px;
  }
  header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header .right .menu {
    padding-top: 63px;
  }
  header .logo svg {
    width: 130px;
  }
  .section-contact-us .contact-us-form {
    margin-left: -10px;
    margin-right: -10px;
  }
  .section-contact-us .contact-us-form p {
    font-size: 19px;
  }
  .section-contact-us {
    padding-bottom: 100px;
  }
  .section-concept .right-path {
    width: 400%;
  }
  .section-concept .right-path .text {
    margin-bottom: 500px;
  }
  .section-concept .wrap-block-image .block-image {
    top: 200px;
  }
  .section-concept .wrapper-for-all-rotated.to-top-phone .wrap-block-image {
    -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-36.5deg) translate(10px, 0);
            transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-36.5deg) translate(10px, 0);
  }
  .section-launch-site {
    padding-top: 70px;
  }
  .section-launch-site img {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-launch-site .social {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .section-launch-site .social span {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-launch-site .social a {
    margin-left: 0;
  }
  .section-launch-site .social a:not(:last-child) {
    margin-right: 20px;
  }
  .section-other-project {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .section-other-project h2 {
    font-size: 24px;
  }
}
