/* beautify ignore:start */
button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
/* beautify ignore:end */


@import "variables.less";
@import "fonts.css";



/* ===============   Animations   ============== */
@keyframes moveToLeft {
    from{
        margin-right: 100vw;
        opacity: 0;
    }
    to{
        margin-right: 0px;
        opacity: 1;
    }
}
@keyframes moveToRight {
    from{
        margin-left: 100vw;
        opacity: 0;
    }
    to{
        margin-left: 0px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeInUp{
    0%{
        -webkit-transform:translate3d(0,200px,0);
        opacity:0;
        transform:translate3d(0,200px,0)
    }
    to{
        -webkit-transform:translateZ(0);
        opacity:1;transform:translateZ(0)
    }
}
@keyframes fadeInUp{
    0%{
        -webkit-transform:translate3d(0,200px,0);
        opacity:0;
        transform:translate3d(0,200px,0)
    }
    to{
        -webkit-transform:translateZ(0);
        opacity:1;
        transform:translateZ(0)
    }
}

/* ===============   Most used selectors   ============== */

*{
    font-family: @SegoeUI;
}
strong{
    font-weight: bold;
}
a{
    text-decoration: none;
}
.to-left{
    animation: moveToLeft 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    opacity: 0;
}
.animate-left{
    margin-right: 100vw;
    opacity: 0;
}
.to-right{
    animation: moveToRight 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    opacity: 0;
}
.animate-right{
    margin-left: 100vw;
    opacity: 0;
}
.f-wrap{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.hidden{
    opacity: 0;
}
.visible{
    opacity: 1;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn{
    padding: 22px 45px;
    box-shadow: 0 10px 25px 2px rgba(0,0,0,0.10);
    display: inline-block;
    border-radius: 50px;
    background: #fff;
    border: none;
    outline: none;
    transition: .5s;
    cursor: pointer;
    &:hover{
    	 box-shadow: 0 10px 25px 2px rgba(0,0,0,0.15);
    }
}

li{
    list-style: none;
    color: #f00;
}
body{
    background: @main-grey;
    overflow-x: hidden;
}

@keyframes moved{
    0%{
        transform: rotate(90deg) translateY(0);
    }
    50%{
        transform: rotate(90deg) translateY(30px);
    }
    100%{
        transform: rotate(90deg) translateY(0);
    }
}
.animate-to-left-slowly{
    transition: transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(100%);
}
.to-left-slowly{
    transform: translateX(0);
}

.animate-to-right-slowly{
    transition: transform 35s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-100%);
}
.to-right-slowly{
    transform: translateX(0);
}
.other-page{
    header{
        &:not(.scrolled){
            .logo{
                .cls-1{
                    fill: #fff;
                }
            }
            .right ul li a{
                color: @white;
            }
            .right ul li.contact a{
                background: fade(@main-grey, 0);
                &:hover{
                    background: @orange;
                }
            }
            .right .sandwitch-btn i{
                background: #fff;
            }
        }
    }
}
header{
    padding-top: 36px;
    padding-bottom: 36px;
    position: fixed;
    width: 100%;
    z-index: 20;
    transition: .3s;
    &.scrolled{
        background: @main-grey;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo{
        position: relative;
        z-index: 3;
        .cls-1 {
           fill: #1e1e1e;
        }
    }
    .right{
        ul{
            margin: 0;
            padding: 0;
            li{
                padding-left: 23px;
                padding-right: 23px;
                a{
                    font-size: 14px;
                    font-weight: 600;
                    color: #848484;
                    transition: .3s;
                    position: relative;
                    text-transform: uppercase;
                    &:after{
                        content:'';
                        position: absolute;
                        bottom: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: .3s;
                        height: 3px;
                        border-radius: 2px;
                        width: 0;
                        background: @orange;
                    }
                }
                &.contact a{
                    padding: 15px 51px;
                    border: 2px solid @orange;
                    font-weight: 900;
                    border-radius: 40px;
                    color: #1E1E1E;
                    display: inline-block;
                    background: @main-grey;
                    &:after{
                        content: none;
                    }
                    &:hover{
                        background: @orange;
                        color: @main-grey;
                    }
                }
                a:hover, &.active a{
                    color: #1E1E1E;
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
        .sandwitch-btn{
            width: 30px;
            height: 30px;
            position: relative;
            display: none;
            i{
                height: 3px;
                width: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #1e1e1e;
                display: block;
                transition: .3s;
                &:first-child{
                    margin-top: -10px;
                    transform-origin: left bottom
                }
                &:last-child{
                    margin-top: 10px;
                    transform-origin: left top;
                }
            }
        }
    }
}
.section-home{
    .left-block{
        padding-top: 250px;
        padding-bottom: 100px;
        h1{
            font-size: 61px;
            line-height: 79px;
            font-family:@Ubuntu;
            color: #1E1E1E;
            max-width: 550px;
            font-weight: bold;
            margin: 0;
        }
        p{
            font-size: 21px;
            letter-spacing: .3px;
            line-height: 28px;
            color: #707070;
            margin-bottom: 60px;
            margin-top: 15px;
        }
        .btn{
            background: #FF4343;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: .7px;
            font-size: 18px;
            padding-left: 75px;
            padding-right: 75px;
            margin-bottom: 55px;
            transition: .3s;
            &:hover{
                background: #DB3A3A;
            }
        }
        .btn-scroll{
            transform-origin: top left;
            transform: rotate(-90deg) translateX(-100%);
            text-transform: uppercase;
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 16px;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                img{
                    animation: moved .5s infinite;
                }
            }
            img{
                transform: rotate(90deg);
                transition: .3s;
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                margin-bottom: 3px;
            }
        }
    }
    .right-block{
        position: relative;
        z-index: 4;
        .with-phones{
            position: absolute;
            transform-origin: left bottom;
            transform: rotate(24deg) translate(0, -270px);
            left: 0;
            bottom: 200px;
            height: 100%;
            width: 1025px;
            &.show{
                .item{
                    transform: translateY(0);
                    box-shadow: 0 0 25px 3px rgba(0,0,0,0.2);
                    
                }
            }
            &.show.full-visible{
                .item{
                    transition: box-shadow 2s, transform 2s;
                    box-shadow: 0 0 25px 3px rgba(0,0,0,0.2);
                    transform: scale(1);
                    &:hover{
                        box-shadow: 0 0 30px 4px rgba(0,0,0,0.2);
                        transition: box-shadow 2s, transform 2s;
                        transform: scale(1.02);
                    }
                }
            }
            .item{
                position: absolute;
                border-radius: 30px;
                box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
                font-size: 0;
                transform: translateY(200vh);
            }
            .phone-1{
                top: 0;
                left: 512px;
                transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, box-shadow .7s 1.1s;
            }
            .phone-2{
                top: 870px;
                left: 212px;
                transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s, box-shadow .8s 2.5s;
            }
            .phone-3{
                top: 620px;
                left: 0;
                transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s, box-shadow 1s 2s;
            }
            .phone-4{
                top: 541px;
                left: 850px;
                transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) .5s, box-shadow .5s 1.3s;
            }
            .laptop-1{
                top: 403px;
                left: 225px;
                transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) .7s, box-shadow .7s 1.8s;
            }
        }
    }
}
.section-can-help{
    background: #202020;
    padding: 265px 0 250px;
    position: relative;
    &:before{
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        border-style: solid;
        border-width: 59px 50vw;
        border-color: @main-grey @main-grey transparent transparent;
    }
    h2{
        font-size: 48px;
        color: @white;
        margin: 0;
        span{
            color: @orange;
        }
    }
    .text{
        color: @white;
        padding-top: 5px;
        padding-bottom: 5px;
        p{
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            margin-bottom: 1em;
            margin-top: 0;
            strong{
                font-weight: 600;
            }
        }
        :last-child{
            margin-bottom: 0;
        }
    }
}
.section-services{
    padding-bottom: 200px;
    padding-top: 60px;
    overflow:hidden;
    padding-top: 130px;
    h2{
        margin-top: 275px;
        font-size: 48px;
        font-weight: bold;
        font-family: @Ubuntu;
    }
    .head-block{
        margin-left: -100px;
        display: inline-block;
        padding-bottom: 50px;
        &:before{
            content: none!important;
        }
        h3{
            font-size: 50px;
            line-height: 60px;
            margin-top: 0;
            margin-bottom: 0;
        }
        p{
            font-size: 20px;
            margin: 0;
            font-weight: 300;
        }
    }
    .row{
        &:nth-child(2n){
            padding-left: 225px;
        }
        &:nth-child(n+2){
            margin-top: 0;
        }
    }
    .block{
        width: 225px;
        height: 225px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: flex-start;
        -ms-align-items: center;
        align-items: center;      
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        position: relative;
        z-index: 2;
        cursor: pointer;
        &:nth-child(2){
        	z-index: 3;
        	&:hover{
        		z-index: 2;
        	}
        }
        &.animated:before{
            box-shadow: 10px 10px 30px 2px rgba(0,0,0,.05);
        }
        &:not(:last-child){
            margin-right: 225px;
        }
        &:before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 10px 10px 30px 2px rgba(0,0,0,.00);
            border-radius: 30px;
            transform: rotate(45deg);
            transition: 1s;
            transition-delay: .3s;
            z-index: -1;
            background: #fff;
            cursor: pointer;
        }
        // &:after{
        //     content:'';
        //     position: absolute;
        //     top: 20px;
        //     left: 40px;
        //     width: 140%;
        //     height: 1px;
        //     transform: rotate(-45deg);
        //     transition: 1s;
        //     transition-delay: .3s;
        //     z-index: -1;
        //     background: #f00;
        //     cursor: pointer;
        // }
        // &:before{
        //     content:'';
        //     position: absolute;
        //     top: 20px;
        //     left: 40px;
        //     width: 140%;
        //     height: 1px;
        //     transform: rotate(-45deg);
        //     transition: 1s;
        //     transition-delay: .3s;
        //     z-index: -1;
        //     background: #f00;
        //     cursor: pointer;
        // }
        h5{
            font-size: 22px;
            line-height: 26.4px;
            color: @black-font;
            font-weight: bold;
            margin-top: 15px;
            text-align: center;
            margin-bottom: 25px;
            cursor: pointer;
        }
        p{
            font-size: 13px;
            line-height: 21.6px;
            font-weight: 300;
            margin: 0;
            color: #000;
            text-align: center;
            cursor: pointer;
        }
        .cls-1 {
            fill: none;
            stroke: #666;
            stroke-linecap: round;
            stroke-linejoin: round;
            transition: .3s;
        }
        img{
            height: 70px;
        }
        .wrap-img{
            max-height: 70px;
            transition: .3s;
            overflow: hidden;
        }
        .text{
            max-height:0;
            overflow: hidden;
            transition: .3s;
        }
        &:hover{
            &:before{
                box-shadow: 22px 22px 50px 8px rgba(0,0,0,.05);
            }
            .wrap-img{
                max-height: 0;
            }
            .text{
                max-height: 70px;
            }
            .cls-1{
                stroke:@blue;
            }
        }
        .more{
            font-size: 18px;
            text-transform: uppercase;
            color: @orange;
            font-weight: 600;
            margin-top: 36px;
            img{
                height: 16.7px;
                margin-left: 15px;
            }
        }
    }
}
.section-goods{
    position: relative;
    padding-top: 140px;
    padding-bottom: 195px;
    overflow: hidden;
    &.blue{
        background-image: linear-gradient(to right, #3C57A5 0%, #36509A 27%, #102152 73%, #0C1C4A 100%);
    }
    &.blue-left{
        background-image: linear-gradient(to left, #3F70AB 0%, #3967A3 21%, #0D2867 92%, #1E436F 100%);
    }
    &.green{
        background-image: linear-gradient(to right, #81DB7E 0%, #6ACB7D 50%, #3BBE65 100%);
    }
    &.orange{
        background-image: linear-gradient(to right, #EBAF24 0%, #EBAD24 50%, #F1871E 100%);
    }
    &.purple{
        background-image: linear-gradient(to right, #78186B 0%, #A33D99 40%, #D888DE 100%);
    }
    .container{
        position: relative;
        z-index: 2;
    }
    .additional-elements{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        .big{
            position: absolute;
            bottom: 40px;
            height: 300px;
            left: 50%;
            margin-left: 300px;
        }
        .middle-fish{
            position: absolute;
            top: 226px;
            width: 514.55px;
            left: 50%;
            margin-left: 451px;
        }
        .small{
            position: absolute;
            top: 53px;
            height: 84px;
            right: 50%;
            margin-right: 504px;
        }
        .by-phone{
            position: absolute;
            left: 50%;
            top: -74px;
            margin-left: -50px;
        }
        .center-bg{
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            transform: translateX(-50%);
        }
        .tomatoes{
            position: absolute;
            top: 111.6px;
            right: 101.4px;
        }
        .lime{
            position: absolute;
            bottom: 67.1px;
            right: 143.4px;
        }
        .scheme{
            position: absolute;
            top: 0;
            right: 50%;
            margin-right: -120px;            
        }
        .senty-el{
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translateY(-50%);
            margin-right: -82px;
        }
        .right-hand{
            position: absolute;
            right: -25px;
            top: -64px;
        }
        .left-hand{
            bottom: 70px;
            left: -30px;
            position: absolute;
        }
    }
    .block-6{
        .text{
            max-width: 354px;
            .logo{
                width: 74px;
                margin-bottom: 44px;
            }
            h3{
                font-size: 32px;
                font-weight: bold;
                color: #fff;
                font-family: @SegoeUI;
                margin-top: 0;
                margin-bottom: 25px;
            }
            hr{
                height: 2px;
                width: 58px;
                background: @orange;
                border-radius: 2px;
                border: none;
                display: inline-block;
                margin-bottom: 30px;
            }
            p{
                font-size: 14px;
                font-family: @SegoeUI;
                line-height: 21px;
                font-weight: 400;
                color: @white;
                margin-top: 0;
            }
            .btns{
                margin-top: 40px;
                .btn{
                    padding: 18px 40px;
                    background: @orange;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 21px;
                    font-weight: bold;
                    color: @white;
                    transition: .3s;
                    white-space: nowrap;
                    &:hover{
                        background: #CA3535;
                    }
                    span{
                        margin-right: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-bottom: 2px;
                    }
                    svg{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .play{
                    cursor: pointer;
                    margin-left: 20px;
                    border-radius: 50%;
                    box-shadow: 0 4px 25px 7px rgba(0, 0, 0, 0.2);
                    font-size: 0;
                    svg{
                        width: 60px;
                        height: 60px;
                    }
                    path{
                        transition: .3s;
                    }
                    &:hover{
                        path{
                            fill: #bbb;
                        }  
                    }
                }
            }
        }
        &.with-phone{
            padding-left: 60px;
            .block-with-phone{
                display: inline-block;
                position: relative;
                width: 250px;
                img{
                    width: 100%;
                }
                .screen-bg{
                    position: absolute;
                    top: 12.4%;
                    width: 87.3%;
                    height: 75.3%;
                    left: 6.7%;
                    background-size: cover;
                    background-position:center center;
                }
            }
        }
        &.with-notebook{
            display: flex;
            justify-content: flex-end;
            padding-right: 15px;
            .block-with-notebook{
                display: inline-block;
                position: relative;
                flex-shrink: 0;
                width: 810.23px;
                img{
                    width: 100%;
                }
                .screen-bg{
                    position: absolute;
                    top: 9.8%;
                    width: 72.5%;
                    height: 69.9%;
                    left: 12%;
                    background-size: cover;
                    background-position:center center;
                }
            }
        }
        &.with-notebook + .with-text,
        &.with-phone + .with-text{
            display: flex;
            justify-content: flex-end;
            .text{
                display: inline-block;
                flex-shrink: 0;
            }
        }
        &.with-text + .with-notebook,
        &.with-text + .with-phone{
            display: flex;
            justify-content: flex-start;
        }
    }
    .screen-bg{
    	background-color: #000;
    	&+.screen-bg{
    		background: transparent;
    	}
    }
}
.section-testimonial{
    text-align: center;
    padding-top: 75px;
    padding-bottom: 60px;
    position: relative;
    &:before{
        content:'';
        position: absolute;
        bottom: 100%;
        border-width: 41px;
        border-style: solid;
        margin-left: -41px;
        left: 50%;
        margin-bottom: -1px;
        border-color: transparent transparent @main-grey transparent;
    }
    h3{
        margin-top: 15px;
        font-size: 18px;
        font-weight: bold;
        color: #202020;
        margin-bottom: 0;
    }
    h4{
        font-size: 14px;
        font-weight: bold;
        color: #202020;
        margin-bottom: 24px;
        margin-top: 0;
    }
    p{
        font-size: 18px;
        font-style: italic;
        line-height: 27px;
        color: #202020;
        margin-bottom: 20px;
    }
}
.section-contact-us{
    padding-top: 32px;
    padding-bottom: 178px;
    .contact-us-form{
        background: #F9F9F9;
        border-radius: 15px;
        box-shadow: 0 3px 15px rgba(0,0,0,.1);
        padding: 55px;
        .block-6{
            padding-left: 25px;
            padding-right: 25px;
        }
        h2{
            font-size: 48px;
            font-weight: bold;
            color: #4A4A4A;
            font-family: @Ubuntu;
            margin-top: 0;
            margin-bottom: 0;
        }
        p{
            font-size: 21px;
            font-weight: 300;
            color: #707070;
        }
        .field{
            margin-bottom: 28px;
            position: relative;
            &.error{
                input, textarea{
                    border-bottom-color: #FF4343;
                }
                span{
                    color: #FF4343;
                }
                .error-message{
                    opacity: 1;
                }
            }
            .error-message{
                position: absolute;
                top: 100%;
                left: 20px;
                font-size: 12px;
                color: #FF4343;
                opacity: 0;
                pointer-events: none;
            }
            span{
                font-family: @SegoeUI;
                color: #6E6E6E;
                position: absolute;
                top: 18px;
                left: 22px;
                transform-origin: center left;
                transform: scale(1);
                transition: .3s;
                pointer-events: none;
                i{
                    font-style: normal;
                    color: #FF4343;
                }
            }
            &.has-focus{
                span{
                    transform: scale(.7);
                    top: 0;
                }
            }
            input, textarea{
                background: #E8E8E8;
                border: none;
                border-bottom: 2px solid #A8A8A8;
                height: 58px;
                display: block;
                width: 100%;
                padding-left: 22px;
                outline: none;
                transition: .3s;
            }
            textarea{
                height: 142px;
                padding-top: 18px;
                resize: none;
            }
        }
        .center{
            text-align: center;
        }
        .btn{
            font-size: 18px;
            letter-spacing: .7px;
            background: @orange;
            color:#fff;
            font-weight: bold;
            text-transform: uppercase;
            box-shadow: 0 4px 10px rgba(0,0,0,.2);
            &:hover{
                background: #CA3535;
            }
        }
    }
    .block-links{
        margin-top: 80px;
        a, .address{
            display: block;
            margin-bottom: 30px;
            svg{
                margin-right: 24px;
                display: inline-block;
                vertical-align: top;
                margin-top: 5px;
                .cls-1, .cls-4 {
                    fill: none;
                }
                .cls-1 {
                    stroke: #2D2D2D;
                    stroke-width: 5px;
                }
                .cls-2,  {
                    fill: #2D2D2D;
                }
                .cls-3 {
                    stroke: none;
                }
            }
            span{
                color: #4A4A4A;
                font-weight: 600;
                display: inline-block;
                letter-spacing: .6px;
                line-height: 26px;
                vertical-align: top;
            }
        }
    }
}
footer{
    padding-top: 90px;
    padding-bottom: 50px;
    background: #2D2D2D;
    .logo{
        margin-bottom: 56px;
        display: inline-block;
        .cls-1 {
            fill: #FFFFFF;
        }
    }
    .main-row{
        justify-content: space-between;
    }
    .left{
        .social{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 180px;
            svg{
                path{
                    fill:#fff;
                    transition: .3s;
                }
            }
            a:hover{
                svg{
                    path{
                        fill: #bbb;
                    }
                }
            }
        }
    }
    .center{
        display: flex;
        ul{
            margin: 0 auto;
            padding: 0;
            width: 100%;
            max-width: 200px;
            li{
                margin-bottom: 13px;
                a{
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    line-height: 21px;
                    color: #fff;
                    transition: .3s;
                    &:hover{
                        color: #bbb;
                    }
                }
            }
        }
    }
    .right{
        flex-direction: column;
        display: flex;
        a:hover{
            color: #bbb;
            transition: .3s;
        }
        a, .address{
            color: #fff;
            font-size: 16px;
            letter-spacing: .5px;
            line-height: 26px;
            display: inline-block;
            &:not(:last-child){
                margin-bottom: 25px;
            }
            span{
                display: inline-block;
            }
        }
        svg{
            margin-right: 24px;
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;
            .cls-1, .cls-4 {
                fill: none;
            }
            .cls-1 {
                stroke: @orange;
                stroke-width: 5px;
                transition: .3s;
            }
            .cls-2,  {
                fill: @orange;
                transition: .3s;
            }
            .cls-3 {
                stroke: none;
            }
        }
    }
    .copyright{
        color: #fff;
    }
}

.section-main-product{
    background-image: linear-gradient(to right, #593A90 0%, #2F165E 100%);
    position: relative;
    padding-top: 200px;
    padding-bottom: 125px;
    overflow: hidden;
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-style: solid;
        border-width: 35px 50vw;
        border-color: transparent transparent @main-grey @main-grey;
    }
    &:before{
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        border-style: solid;
        border-width: 35px 50vw;
        border-color: transparent transparent @main-grey @main-grey;
    }
    .container{
        position: relative;
    }
    .bg-element-teletare{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .left-block .text{
        max-width: 324px;
        h1{
            font-size: 32px;
            font-weight: bold;
            line-height: 45px;
            color:#fff;
            margin-top: 40px;
            margin-bottom: 25px;
        }
        hr{
            background:#FFC400;
            height: 2px;
            border:none;
            width: 58px;
            border-radius: 2px;
            margin: 0;
            margin-bottom: 27px;
        }
        p{
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: #fff;
        }
    }
    .with-notebook{
        .block-with-notebook{
            position: relative;
            width: 684.53px;
            img{
                width: 100%;
            }
            .screen-bg{
                position: absolute;
                top: 9.7%;
                left: 12%;
                width: 72.6%;
                height: 70.1%;
                background-size: cover;
            }
        }
    }
}
.section-our-goal{
    padding-top: 150px;
    padding-bottom: 55px;
    h2{
        font-size: 48px;
        font-family: @Ubuntu;
        font-weight: bold;
    }
    .text{
        max-width: 558px;
        p{
            font-size: 14px;
            font-weight: 300;
            color: #020307;
            strong{
                font-weight: 600;
            }
        }
    }
}
.section-structure{
    background-image: linear-gradient(45deg, #593A90, #30175F);
    padding-bottom: 100px;
    padding-top: 165px;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        border-width: 330px 50vw;
        top: 0;
        left: 0;
        border-style: solid;
        border-color: @main-grey transparent transparent @main-grey;
    }
    &:after{
        content: '';
        position: absolute;
        border-width: 330px 50vw;
        top: -1px;
        left: 0;
        border-style: solid;
        border-color: @main-grey transparent transparent @main-grey;
    }
    .container{
        position: relative;
        z-index: 2;
    }
    .left-path{
        &.to-top-phone .wrap-block-image{
            transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translateY(0);
        }
        .wrap-block-image{
            transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translateY(3000px);
            transition: 1.5s;
        }
        .block-image{
            display: inline-block;
            position: relative;
            transform: perspective(1158px) scale(1.42857142, 1.42857142) skew(-3.7deg, 0) rotateX(-24.1deg) rotateY(-4.7deg) rotateZ(38.4deg);
            img{
                width: 670px;
            }
            .screen{
                position: absolute;
                top: -64%;
                left: 61.4%;
                width: 70%;
                height: 157%;
                -webkit-background-size: cover;
                background-size: cover;
                -webkit-transform-origin: bottom left;
                -ms-transform-origin: bottom left;
                transform-origin: bottom left;
                transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg);
                border-radius: 40px;
                z-index: 3;
            }
        }
    }
    .right-path{
        padding-bottom: 240px;
        color: #fff;
        padding-left: 30px;
        h4{
            font-size: 18px;
            font-weight: bold;
            letter-spacing: .5px;
            line-height: 21px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
        }
        .text{
            max-width: 320px;
        }
    }
}
.section-post-info, .section-tabs{
    padding-top: 150px;
    padding-bottom: 50px;
    .text{
        max-width: 324px;
        h4{
            font-size: 18px;
            font-weight: bold;
        }
        p{
            font-size: 14px;
            line-height: 21px;
            transition-delay: .2s;
        }
    }
    .with-text{
        display: flex;
        justify-content: flex-end;
    }
    .with-notebook + .with-text, .with-phone + .with-text{
        justify-content: flex-start;
    }
    .with-text + .with-notebook{
        justify-content: flex-start;
    }
    .with-notebook{
        margin-bottom: -70px;
        display: flex;
        justify-content: flex-end;
        .block-with-notebook{
            position: relative;
            width: 684.53px;
            display: inline-block;
            flex-shrink: 0;
            img{
                width: 100%;
            }
            .screen-bg{
                position: absolute;
                top: 9.7%;
                left: 12%;
                width: 72.6%;
                height: 70.1%;
                background-size: cover;
            }
        }
    }
    .with-phone{
        display: flex;
        justify-content: center;
        .block-with-phone{
            position: relative;
            display: inline-block;
            .screen-bg{
                position: absolute;
                top: 12.4%;
                left: 6.5%;
                width: 88%;
                height: 74.9%;
                background-size: cover;
            }
        }
    }
}
.section-tabs{
    padding-bottom: 190px;
    .with-notebook{
        display: flex;
        justify-content: flex-end;
    }
    .blocks{
        .block{
            display: flex;
            align-items: center;
            cursor: pointer;
            &:not(:last-child){
                margin-bottom: 45px;
            }
            &.active{
                .cls-1{
                    fill: @active-icon;
                }
                .cls-2{
                    stroke: @active-icon;
                }
                .right{
                    h4, p{
                        color: @active-icon;
                    }
                }
            }
            .cls-1{
                fill: @not-active-icon;
                transition: .3s;
            }
            .cls-2{
                stroke: @not-active-icon;
                transition: .3s;
            }
            svg{
                display: inline-block;
            }
            .wrap-icon{
                width: 50px;
                text-align: center;
                margin-right: 21px;
            }
            .right{
                display: inline-block;
                h4{
                    margin-bottom: 6px;
                    margin-top: 0;
                    font-weight: bold;
                    font-size: 14px;
                    color: #030408;
                    text-transform: uppercase;
                }
                p{
                    margin: 0;
                    font-size: 14px;
                    color: #020307;
                }
            }
        }
    }
    .screen-bg{
        opacity: 0;
        transition: .3s;
        &.active{
            opacity: 1;
        }
    }
}
.section-screen-project{
    background-size: cover;
    padding-top: 257px;
    padding-bottom: 257px;
    position: relative;
    z-index: 3;
    &:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }
    .container{
        position: relative;
        z-index: 5;
    }
    .text-info{
        padding: 80px 46px;
        border-radius: 15px;
        background: rgba(255,255,255,.76);
        width: 460px;
        border-radius: 15px;
        margin-left: 80px;
    }
    .wrap-iframe{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding-bottom: 56.25%;
        transform: translate(-50%, -50%);
        z-index: 3;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.section-concept{
    background-image: linear-gradient(45deg, #593A90, #30175F);
    padding-top: 220px;
    padding-bottom: 494px;
    position: relative;
    &:before{
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: @main-grey;
    }
    &:after{
        content:'';
        position: absolute;
        bottom: 100px;
        left: 0;
        border-style: solid;
        border-width: 33.6vw 50vw;
        border-color: transparent @main-grey @main-grey transparent;
    }
    .text{
        color: #fff;
        margin-bottom: 120px;
    }
    .wrapper-for-all-rotated{
        position: relative;
        z-index: 2;
        &.to-top-phone{
            .wrap-block-image{
                transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translate(0,0);
                opacity: 1;
            }
            .concept-phones{
                .screen-2, .screen-3, .screen-4, .screen-5, .screen-6, .screen-7, .screen-8, .screen-9{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
    .wrap-block-image{
        transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg) translate(222px, 3000px);
        transition: 1.5s;
        transition-delay: 1.2s;
        opacity: 0;
        .block-image{
            display: inline-block;
            position: relative;
            top: -170px;
            left: -26px;
            -webkit-transform: perspective(1158px) scale(1.42857142, 1.42857142) skew(-3.7deg, 0) rotateX(-24.1deg) rotateY(-4.7deg) rotateZ(38.4deg);
            transform: perspective(738px) scale(1.428571, 1.42857142) skew(-12.4deg, 0) rotateX(-18.1deg) rotateY(-14.7deg) rotateZ(27.7deg);
        }
    }
    .concept-phones{
        position: absolute;
        z-index: 2;
        -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            transform-origin: bottom left;
            transform: perspective(1468px) scale(1, 1) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-34.6deg);
        .screen-2, .screen-3, .screen-4, .screen-5, .screen-6, .screen-7, .screen-8, .screen-9{
            position: absolute;
            top: -64%;
            left: 61.4%;
            -webkit-background-size: cover;
            background-size: cover;
            z-index: 3;
            opacity: 0;
            transition: 1.7s;
            transform: translateY(3000px);
            box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.3);
        }
        .screen-2{
            top: -448px;
            left: 790px;
            transition-delay: 1s;
        }
        .screen-3{
            top: -1350px;
            left: 405px;
            transition-delay: .9s;
        }
        .screen-4{
            top: -1400px;
            left: 790px;
            transition-delay: .6s;
        }
        .screen-5{
            top: -760px;
            left: -330px;
            transition-delay: .7s;
        }
        .screen-6{
            top: -760px;
            left: 20px;
            transition-delay: .5s;
        }
        .screen-7{
            top: -1710px;
            left: 20px;
            transition-delay: .5s;
        }
        .screen-8{
            top: -760px;
            left: -680px;
            transition-delay: .2s;
        }
        .screen-9{
            top: -2360px;
            left: 405px;
            transition-delay: 0s;
        }
    }
    .block-image{
        display: inline-block;
        position: relative;
        img{
            width: 670px;
        }
        .screen{
            position: absolute;
            top: -64%;
            left: 61.4%;
            width: 70%;
            height: 157%;
            -webkit-background-size: cover;
            background-size: cover;
            -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            transform-origin: bottom left;
            transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg);
            border-radius: 40px;
            z-index: 3;
        }
    }
}
.section-launch-site{
    text-align: center;
    padding-top: 0;
    margin-top: -100px;
    padding-bottom: 60px;
    position: relative;
    z-index: 4;
    img{
        margin-bottom: 100px;
    }
    .btn{
        background: #5F428C;
        color: #fff;
        box-shadow: 0 4px 20px rgba(0,0,0,.2);
        font-weight: bold;
        font-size: 18px;
        letter-spacing: .7px;
        &:hover{
            background: #3B2856;
        }
    }
    .center{
        text-align: center;
    }
    .social{
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 18px;
            font-weight: bold;
            color: #000000;
        }
        a{
            width: 50px;
            height: 50px;
            border: 2px solid #000000;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-left: 20px;
            transition: .3s;
            background: rgba(0,0,0,0);
            &:hover{
                border-color: #fff;
                background: rgba(0,0,0,1);
                svg{
                    path{
                        fill: #fff;
                    }
                }
            }
            svg{
                width: 100%;
                max-width: 23px;
                max-height: 23px;
                path{
                    fill: #000;
                    transition: .3s;
                }
            }
        }
    }
}
.section-other-project{
    padding-bottom: 150px;
    padding-top: 80px;
    h2{
        font-size: 48px;
        font-family: @Ubuntu;
        font-weight: bold;
        text-align: center;
    }
    .swiper-slide{
        display: inline-block;
        width: initial;
        height: initial;
        text-align: center;
        padding-bottom: 15px;
        img{
            width: 100%;
        }
        h4{
            font-size: 24px;
            font-weight: bold;
            color: #0D1E4D;
            margin-top: 20px;
            margin-bottom: 0;
        }
        p{
            font-size: 14px;
            color: #0D1E4D;
            font-weight: 400;
            margin: 0;
        }
    }
    .swiper-pagination{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        .swiper-pagination-bullet{
            margin-left: 5px;
            margin-right: 5px;
        }
        .swiper-pagination-bullet-active{
            background: #5F428C;
        }
    }
}

/* ===============   Adaptive   ============== */
@media screen and (max-width: 1110px){
    // .section-services .row{
    //     justify-content: center;
    // }
    // .section-services .row:nth-child(2n+1){
    //     padding-left: 0;
    // }
    // .section-services .row:nth-child(n+3){
    //     margin-top: 125px;
    // }
    // .section-services .blocks{
    //     text-align: center;
    //     .head-block{
    //         text-align: center;
    //         margin-left: 0;
    //         margin-bottom: 30px;
    //     }
    // }
    .section-services{
        .row:nth-child(n+2){
            margin-top: -45px;
        }
        .block{
            &:not(:last-child){
                margin-right: 135px;
            }
        }
    }
    .section-services .row:nth-child(2n){
        padding-left: 180px;
    }
    .section-concept .wrap-block-image .block-image{
        top: -110px;
    }
}
@media screen and (max-width: 992px){
    body{
        &.show-menu{
            overflow: hidden;
            header{
                .right {
                    .menu{
                        transform: translateX(0);
                        opacity: 1;
                        transition: opacity .3s 0s, transform 0s 0s, padding-top .3s;
                    }
                    .sandwitch-btn{
                        i:first-child{
                            transform: translate(-50%, -50%) rotate(45deg);
                            margin-top: -11px;
                        }
                        i:nth-child(2){
                            opacity: 0;
                        }
                        i:last-child{
                            transform: translate(-50%, -50%) rotate(-45deg);
                            margin-top: 11px;
                        }
                    }
               }
            }
            &.other-page header:not(.scrolled) .right ul li a{
                color: #1e1e1e;
            }
            &.other-page header:not(.scrolled) .logo .cls-1{
                fill: #1e1e1e;
            }
            &.other-page header:not(.scrolled) .right .sandwitch-btn i{
                background: #1e1e1e;
            }
        }
    }
    header{
        &.scrolled{
            .right .menu{
                padding-top: 53px;
            }   
        }
        .menu{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: @main-grey;
            transform: translateX(-100vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ul{
                flex-direction: column;
                max-height: 100%;
                overflow-y: auto;
                width: 100%;
                li a:after{
                    bottom: 0;
                }
            }
        }
        .right{
            .sandwitch-btn{
                display: inline-block;
                cursor: pointer;
                cursor: pointer;
            }
            .menu{
                padding-top: 105px;
                opacity: 0;
                height: 100vh;
                background: @main-grey;
                transition: opacity .3s 0s, transform 0s .3s, padding-top .3s;
                flex-direction: column;
                align-items: center;
                li{
                    &.contact{
                        padding-top: 13px;
                        padding-right: 13px;
                    }
                    a{
                        font-size: 24px;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        display: inline-block;
                        color: #1e1e1e;
                    }
                }
            }
        }
    }
    .section-home .left-block{
        min-width: 400px;
        flex-shrink: 0;
    }
    .section-can-help{
        .left{
            width: 35%;
        }
    }
    .section-contact-us{
        .main-row{
            flex-direction: column;
            &>*{
                width: 100%;
            }
        }
        .block-links{
            display: inline-block;
        }
    }
    .contact-us-form{
        .block-6:first-child{
            text-align: center;
            .block-links{
                text-align: left;
            }
        }
    }
    .section-structure {
        padding-top: 0;
        &:before{
            border-width: 170px 50vw;
        }
        &:after{
            border-width: 170px 50vw;
        }
        .left-path{
            margin-top: -70px;
        }
        .main-row{
            flex-direction: column;
            align-items: center;
            &>*{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        .right-path{
            padding-bottom: 0;
            padding-left: 0;
        }
    }
    .section-tabs{
        padding-top: 50px;
        .main-row{
            justify-content: flex-end;
        }
        .with-tabs{
            min-width: 290px;
        }
    }
    .section-concept .wrap-block-image .block-image{
        top: -35px;
    }
    // .section-services .block:not(:last-child){
    //     margin-right: 110px;
    // }
    .section-concept .wrapper-for-all-rotated.to-top-phone .wrap-block-image{
        transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38deg) translate(10px, 0);
    }
}
@media screen and (max-width: 768px){
    .section-main-product{
        padding-top: 100px;
        .main-row{
            flex-direction: column;
            &>*{
                width: 100%;
            }
            .left-block .text{
                margin: 0 auto;
                text-align: center;
                hr{
                    display: inline-block;
                }
                p{
                    text-align: left;
                }
            }
            .with-notebook .block-with-notebook{
                margin: 0 auto;
                max-width: 100%;
            }
            .with-notebook{
                padding-left: 4%;
            }
        }
    }
    .section-tabs .main-row{
        flex-direction: column;
        align-items: center;
    }
    .section-tabs .with-notebook{
        margin-bottom: 0;
        width: 100%;
        justify-content: center;
        .block-with-notebook{
            width: 100%;
        }
    }
    .section-can-help{
        .left{
            width: 50%;
        }
    }
    .section-services .main-row{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        &>*{
            width: 100%;
        }
        h2{
            margin-top: 0;
            text-align: center;
            margin-bottom: 100px;
            br{
                display: none;
            }
        }
        .right{
            .blocks{
                .row{
                    justify-content: center;
                    &:nth-child(2n){
                        padding-left: 0;
                    }
                    .block{
                        width: 215px;
                        height: 215px;
                        padding-top: 30px;
                    }
                }
            }
        }
        // .block:nth-child(2n){
        //     margin-left: 170px;
        // }
        // .block:nth-child(2n+1){
        //     margin-right: 170px;
        // }
    }
    .section-goods{
        padding-top: 60px;
        padding-bottom: 120px;
        .main-row{
            flex-direction: column;
            align-items: center;
            &>*{
                width: 100%;
            }
            .text{
                max-width: initial;
                img{
                    margin: 0 auto;
                    display: block;
                    &.logo{
                        margin-bottom: 15px;
                    }
                }
                h3{
                    text-align: center;
                }
            }
            .with-text{
                order: 2;
                .btns{
                    flex-direction: column-reverse;
                    align-items: center;
                    .play{
                        margin-bottom: 20px;
                        margin-left: 0;
                    }
                }
            }
            .block-6.with-phone{
                padding-left: 0;
                justify-content: center;
                padding-bottom: 30px;
                display: flex;
            }
            .block-6.with-text + .with-phone{
                justify-content: center;
            }
            .block-6.with-notebook{
                padding-right: 0;
                justify-content: center;
            }
            .block-6.with-notebook .block-with-notebook{
                width: 100%;
            }
            .block-6.with-notebook + .with-text .text, .block-6.with-phone + .with-text .text{
                width: 100%;
            }
        }
    }
    footer .main-row{
        flex-wrap: wrap;
        .left{
            width: 100%;
            text-align: center;
            margin-bottom: 35px;
            .social{
                margin: 0 auto;
            }
            .logo{
                margin-bottom: 40px;
            }
        }
        .center, .right{
            width: 50%;
        }
    }
    .section-our-goal{
        padding-top: 70px;
        .text{
            max-width: 100%;
        }
        .main-row{
            width: 100%;
            flex-direction: column;
            h2{
                text-align: center;
            }
            &>*{
                width: 100%;
            }
        }
    }
    .section-concept .right-path{
        width: 45%;
    }
    .section-concept{
        padding-top: 60px;
        padding-bottom: 255px;
        .wrap-block-image .block-image{
            top: 55px;
            left: -7px;
            transform: perspective(738px) scale(1.428571, 1.42857142) skew(-12.4deg, 0) rotateX(-18.1deg) rotateY(-14.7deg) rotateZ(28.8deg);
        }
        .text{
            margin-bottom: 190px;
        }
    }
}
@media screen and (max-width: 600px){
    .section-can-help{
        .main-row{
            flex-direction: column;
            .left, .right{
                width: 100%;
            }     
            h2{
                text-align: center;
                margin-bottom: 20px;
                br{
                    display: none;
                }
                span{
                    display: block;
                }
            }
        }
    }
    .section-services .main-row{
        .right{
            .blocks{
                .row{
                    flex-direction: column;
                    align-items: center;
                    .block{
                        &:nth-child(odd){
                            margin-right: 175px;
                            margin-top: -40px;
                        }
                        &:nth-child(even){
                            margin-left: 175px;
                            margin-top: -40px;
                        }
                    }
                    &:nth-child(n+2){
                        margin-top: 0;
                    }
                    &:nth-child(2n+3){
                        .block{
                            &:nth-child(even){
                                margin-right: 175px;
                                margin-left: 0;
                                margin-top: -40px;
                            }
                            &:nth-child(odd){
                                margin-left: 175px;
                                margin-right: 0;
                                margin-top: -40px;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-structure{
        &:before {
            border-width: 26vw 50vw;
        }
        &:after {
            border-width: 26vw 50vw;
        }
        .left-path .block-image{
            width: 350px;
            img{
                width: 100%;
            }
            .screen {
                position: absolute;
                top: -38.2%;
                left: 61.4%;
                width: 70%;
                height: 130%;
                -webkit-background-size: cover;
                background-size: cover;
                -webkit-transform-origin: bottom left;
                -ms-transform-origin: bottom left;
                transform-origin: bottom left;
                -webkit-transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-38.4deg);
                transform: perspective(648px) scale(0.7, 0.7) skew(3.3deg, 5.3deg) rotateX(17.4deg) rotateY(9.9deg) rotateZ(-43.7deg);
                -webkit-border-radius: 40px;
                border-radius: 22px;
                z-index: 3;
            }
        }
    }
    .section-structure .left-path{
        margin-top: 0;
    }
    .section-post-info{
        padding-top: 50px;
        .main-row{
            flex-direction: column;
            align-items: center;
            &>*{
                width: 100%;
            }
            .block-with-phone{
                max-width: 100%;
            }
            .with-notebook, .with-phone{
                order: -1;
                margin-bottom: 0;
                .block-with-notebook{
                    width: 100%;
                }
            }
        }
    }
    .section-post-info .text{
        width: 100%;
        max-width: 100%;
    }
    .section-screen-project .text-info{
        max-width: 100%;
        margin: 0 auto;
        padding: 20px 25px;
    }
    .section-concept .text{
        margin-bottom: 270px;
    }
    .section-concept .wrap-block-image .block-image{
        top: 125px;
        left: 10px;
        transform: perspective(738px) scale(1.428571, 1.42857142) skew(-12.4deg, 0) rotateX(-18.1deg) rotateY(-14.7deg) rotateZ(30.2deg);
    }
    .section-concept{
        overflow: hidden;
    }
}
@media screen and (max-width: 500px){
    .section-home .left-block{
        min-width: 260px;
        padding-top: 140px;
        h1{
            font-size: 40px;
            line-height: 50px;
        }
        .btn{
            padding: 16px 40px;
        }
    }
    .section-contact-us .contact-us-form{
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-concept .right-path{
        width: 75%;
        .text{
            margin-bottom: 370px;
        }
    }
    .section-concept .wrap-block-image .block-image{
        top: 175px;
    }
}
@media screen and (max-width: 460px){
    .section-can-help {
        padding-top: 140px;
        padding-bottom: 100px;
        h2{
            font-size: 34px;
        }
    }
    .section-other-project{
        h2{
            font-size: 34px;
        }
    }
    .section-services .block{
        width: 260px;
        height: 260px;
        padding-top: 0;
        justify-content: center;
    }
    .section-services .block p{
        font-size: 12px;
        line-height: 19.2px;
    }
    .section-services .main-row{
        .right{
            .blocks{
                .row{
                    flex-direction: column;
                    align-items: center;
                    .block{
                        padding-top: 20px;
                        &:nth-child(odd){
                            margin-right: 135px;
                            margin-top: 0;
                        }
                        &:nth-child(even){
                            margin-left: 135px;
                            margin-top: 0;
                        }
                    }
                    &:nth-child(n+2){
                        margin-top: 0;
                    }
                    &:nth-child(2n+3){
                        .block{
                            &:nth-child(even){
                                margin-right: 135px;
                                margin-left: 0;
                                margin-top: 0;
                            }
                            &:nth-child(odd){
                                margin-left: 135px;
                                margin-right: 0;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-contact-us .contact-us-form{
        padding-left: 0;
        padding-right: 0;
        .block-6{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    footer .main-row{
        justify-content: center;
    }
    footer .main-row .center, footer .main-row .right{
        width: 100%;
    }
    footer .main-row .right{
        max-width: 230px;

    }
    footer .center ul li{
        text-align: center;
    }
    footer .copyright{
        text-align: center;
    }
    .section-our-goal .main-row h2{
        margin-top: 0;
    }
    .section-structure{
        overflow: hidden;
    }
    .section-structure .left-path{
        margin-top: -30px;
    }
    .section-tabs{
        padding-bottom: 90px;
    }
    .section-tabs .with-notebook{
        margin-bottom: 30px;
        width: initial;
        margin-left: -15px;
        margin-right: -15px;
    }
    .section-tabs .blocks .block:not(:last-child){
        margin-bottom: 25px;
    }
    .section-screen-project{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 400px){
    .section-services {
        padding-top: 70px;
        h2{
            margin-bottom: 70px;
        }
        .main-row{
            .right{
                .blocks{
                    .row{
                        flex-direction: column;
                        align-items: center;
                        .block{
                            padding-top: 20px;
                            &:nth-child(odd){
                                margin-right: 95px;
                                margin-top: 30px;
                            }
                            &:nth-child(even){
                                margin-left: 95px;
                                margin-top: 30px;
                            }
                        }
                        &:nth-child(n+2){
                            margin-top: 0;
                        }
                        &:nth-child(2n+3){
                            .block{
                                &:nth-child(even){
                                    margin-right: 95px;
                                    margin-left: 0;
                                    margin-top: 30px;
                                }
                                &:nth-child(odd){
                                    margin-left: 95px;
                                    margin-right: 0;
                                    margin-top: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    header {
        padding-top: 15px;
        padding-bottom: 15px;
        .right .menu{
            padding-top: 63px;
        }
        .logo{
            svg{
                width: 130px;
            }
        }
    }
    .section-contact-us .contact-us-form{
        margin-left: -10px;
        margin-right: -10px;
    }
    .section-contact-us .contact-us-form p{
        font-size: 19px;
    }
    .section-contact-us{
        padding-bottom: 100px;
    }
    .section-concept .right-path{
        width: 400%;
        .text{
            margin-bottom: 500px;
        }
    }
    .section-concept .wrap-block-image .block-image{
        top: 200px;
    }
    .section-concept .wrapper-for-all-rotated.to-top-phone .wrap-block-image{
        transform: perspective(1468px) scale(0.7, 0.7) skew(3.7deg, 0) rotateX(24.1deg) rotateY(4.7deg) rotateZ(-36.5deg) translate(10px, 0);

    }
    .section-launch-site{
        padding-top: 70px;
        img{
            width: 100%;
            margin-bottom: 20px;
        } 
        .social{
            flex-wrap: wrap;
            span{
                width: 100%;
                margin-bottom: 20px;
            }
            a{
                margin-left: 0;
                &:not(:last-child){
                    margin-right: 20px;
                }
            }
        }
    }
    .section-other-project{
        padding-top: 50px;
        padding-bottom: 80px;
        h2{
            font-size: 24px;
        }
    }
}