/* ===============   Variables   ============== */
/* ===============   Fonts   ============== */
@SegoeUI: "Segoe UI", sans-serif;
@Ubuntu: "Ubuntu", sans-serif;

/* ===============   Colors   ============== */

@grey: #4D4D4D;
@black-font: #333333;
@black: #1A1A1A;
@orange: #E5770A;
@light: #999999;
@very-light: #E6E6E6;
@red: #992E2E;
@white: #fff;
@orange: #FF4343;
@blue: #5BA1D8;

@active-icon: #57388e;
@not-active-icon: #8e8f8f;

@main-grey: #F7F8F9;

/* ===============   Sizes   ============== */
@ma: 0 auto;
